/*banner图*/
.banner{position:relative;}
.banner img{width:100%;}
.banner ul{position:absolute;left:45%;bottom:22px;}
.banner ul li{float:left;}
.banner ul li:first-child+li{margin:0 30px;}

/*-------------中部内容-------------*/
.main{width:1200px;margin:0 auto;}
/*title*/
.main .title{text-align:center;margin-top:38px;}
.main .title h2{font-size:30px;}
.main .title h3{font-size:24px;}
/*about_us*/
.about_us{margin:19px 0 54px 0;}
.about_us p{float:left;width:719px;text-indent:2em;font-size:14px;line-height:24px;color:#666666;}
.about_us_pic{float:right;background:#a5a0a0;margin:16px 33px 0 0;}
.about_us_pic img{position:relative;top:-5px;left:-5px;}
/*news*/
.news{margin:25px 0 0 0;}
.news img{float:left;padding:14px 0 23px 31px;}
.news ul{float:right;width:787px;margin-right:26px;}
.news ul li:first-child{height:96px;background:red;}
.news ul li:first-child+li{margin:40px 0;}
.news .left{float:left;background:#fe6716;font-size:24px;color:#fff;text-align:center;width:115px;}
.news .left p{padding-top:16px;}
.news .left span{display:inline-block;padding-bottom:18px;}
.news .right{float:right;width:672px;background:#f0f0f0;}
.news .right p,.news .new_title{padding-left:31px;}
.news .right .new_title{font-size:14px;color:#fe6716;display:inline-block;margin-bottom:10px;}
.news .right p{font-size:12px;color:#666666;text-indent:2em;line-height:20px;}
.news .right .more{
    display:inline-block;width:66px;height:22px;
    line-height:22px;text-align:center;
    background:#fe6716;
    position:relative;left:582px;bottom:3px;
    color:#fff;margin-bottom:2px;
    font-size:12px;}
/*product*/
.product{margin:50px 0 0 0;}
.product ul li{float:left;margin:0 38px 30px 38px;text-align:center;}
.product ul li a{color:#333;}
.product ul li:first-child a{color:#fe7435;}
.product ul li img{margin-bottom:16px;}
/*-------------中部内容-------------*/