/*------------------banner标签样式------------------*/
.banner{position:relative;}
.banner img{width:100%;}
.banner ul{position:absolute;left:46.6%;bottom:16px;}
.banner ul li{float:left;}
.banner ul li:first-child+li{margin:0 17px;}
/*------------------公司介绍标签样式------------------*/
/*title_1*/
.company{width:1200px;margin:0 auto;border-top:1px solid transparent;}
.title_1{
    width:99px;
    height:107px;
    background:url('../img/yxt/Column_sign_2.png') center center no-repeat;
    text-align:center;
    position:relative;
    margin:73px auto 0 auto;
}
.title_1 img{position:absolute;left:35px;top:8px;}
.title_1 i{display:inline-block;font-size:20.16px;background:#fff;margin-top:50px;}
/*content*/
.company .content{margin:61px 0 0 0;}
.company .left{
    float:left;width:484px;height:274px;
    border-top:1px solid transparent;border-bottom:1px solid #c8c8c8;position:relative;}
.company .left img{position:absolute;left:60px;top:0;}
.company .box_1{
    position:absolute;left:0;bottom:0;width:264px;height:124px;
    border-left:1px solid #c8c8c8;
    border-top:1px solid #c8c8c8;}
.company .box_2{position:absolute;left:141px;top:-26px;width:182px;height:204px;border:1px solid #c8c8c8;}
.company .right{
    float:right;height:274px;width:706px;
    border:1px solid #c8c8c8;margin-right:8px;position:relative;
}
/*content右边的文字*/
.company .content .right ul{padding:25px 50px;}
.company .content .right ul li{
    float:right;width:13px;margin-right:10px;text-align:center;
    line-height:19px;font-size:13px;color:#040404;
}
.company .content .right s{
    font-size:14px;background:#fff;padding:10px 0;
    position:absolute;top:65px;right:-6px;width:13px;
}
.company .content .right a{
    color:#fff;width:62px;height:22px;text-align:center;
    background:#dba914;position:absolute;right:52px;bottom:-9px;
}
/*------------------新聞中心标签样式------------------*/
/*title_2*/
.news{width:100%;background:#343642;margin:86px 0 0 0;}
.news .container{width:1200px;margin:0 auto;border-top:1px solid #343642;}
.title_2{
    width:99px;
    height:107px;
    background:url('../img/yxt/Column_sign_3.png') center center no-repeat;
    text-align:center;
    position:relative;
    margin:73px auto 0 auto;
}
.title_2 img{position:absolute;left:35px;top:8px;}
.title_2 i{display:inline-block;font-size:20.16px;background:#343642;margin-top:50px;color:#bcc0d9;}
/*content*/
.news .content{margin-top:36px;padding-bottom:70px;}
.news .content img{float:left;}
.news .content ul{float:right;width:601px;}
.news .content ul li{float:left;height:104px;width:601px;}
.news .content ul li:first-child{background:#3e4151;}
.news .content ul li:first-child+li{background:#3f4258;margin:26px 0;}
.news .content ul li:last-child{background:#3b3e4d;}
.news .content .left{float:left;text-align:right;margin-left:40px;color:#fff;}
.news .content .left h2{font-size:38.88px;margin-top:16px;line-height:36px;}
.news .content .left h3{font-size:12.33px;}
.news .content .right{float:right;color:#fff;text-align:left;margin:0 31px 0 21px;}
.news .content .right a{font-size:14.05px;color:#fff;display:block;margin:18px 0 14px 0;}
.news .content .right p{font-size:12.04px;width:436px;}
/*------------------产品中心标签样式------------------*/
.product_box{width:100%;background:#f8f6f1;}
.product_box .title_1 i{background:#F8F6F1;}
.product{width:1200px;margin:0 auto;border-top:1px solid transparent;}
.product .content{margin:94px auto 0 auto;position:relative;height:655px;}
.product .content div{float:left;}
/*定位图片*/
.product .img_l{position:absolute;left:15%;}
.shadow{position:absolute;width:329px;height:100px;background:rgba(1,1,1,0.4);bottom:0;  }
.shadow h2{font-size:14px;color:#fff;text-align:center;margin:18px 0 12px 0;}
.shadow p{font-size:12px;color:#8C8B8A;text-align:left;margin:0 22px;}
.product .img_c{position:absolute;left:36%;top:76px;z-index:1;}
.product .img_r{position:absolute;right:15%;}
/*定位左右按钮*/
.product .circle_l{position:absolute;left:0;top:207px;}
.product .circle_l img[alt="slash_1"]{position:absolute;top:16px;left:20px;}
.product .circle_l img[alt="slash_2"]{position:absolute;top:33px;left:20px;}
.product .circle_r{position:absolute;right:0;top:207px;}
.product .circle_r img[alt="slash_2"]{position:absolute;top:16px;right:20px;}
.product .circle_r img[alt="slash_1"]{position:absolute;top:33px;right:20px;}
/*------------------联系我们标签样式------------------*/
.contact{width:100%;background:#343642;}
.contact .content{width:1200px;margin:0 auto;border-top:1px solid #343642;}
.contact .content .main{margin-top:66px;padding-bottom:32px;}
.contact .left{float:left;}
.contact .right{float:right;}
/*左侧小图标*/
.contact .left li{width:407px;position:relative;line-height:80px;border-bottom:1px solid #444654;}
.contact .left li:last-child{border:none;}
.contact .left img{position:absolute;}
img[alt="home"],img[alt="iphone"],img[alt="company"]{top:31px;}
img[alt="email"]{top:34px;}
.contact .left  i{margin-left:33px; color:#fff;font-size:13px;}
/*右侧表单*/
.contact .right form{width:600px;height:300px;text-align:right;position:relative;}
.contact .right form input{width:490px;background:#343642;border:1px solid #4c4e5c;}
.contact .right form textarea{background:#343642;border:1px solid #4c4e5c;}
.contact form .username{margin:32px 0 46px 0;}
.contact form .iphone{margin-bottom:46px;}
.contact form label[for="leaving"]{position:relative;top:-79px;}
.contact form label{color:#fff;font-size:13px;}
.contact form a{
    position:absolute;width:61px;height:20px;background:#deab14;
    text-align:center;bottom:33px;right:0;line-height:20px;color:#fff;
}