/*------------------公共样式--重置标签样式------------------*/
*{margin:0;padding:0;}
ol,ul{list-style:none;}
input,select,textarea,button,a{outline:none;}
textarea{resize:none;}
img{display:block;border:none;}
a,u,s,del{text-decoration:none;}
h1,h2,h3,h4,h5,h6,b,strong,i,em{font-style:normal;}
.clear{clear:both;}
.clearfix:after{content:'';display:block;width:0;height:0;visibility:hidden;clear:both;}

/*------------------网页头部标签样式------------------*/
.header{background:#343642;}
.content{width:1200px;margin:0 auto;}
.header .content>a{float:left;margin:22px 0 22px 89px;}
.header ul{float:right;margin-right:72px;}
.header ul li{float:left;margin-left:56px;width:100px;line-height:126px;text-align:center;}
.header li a{color:#fff;}
.current{background:#dba914;}
.header ul li a:hover{display:inline-block;width:100px;background:#dba914;}
/*------------------标题标签样式------------------*/
/*title_1*/
.company{width:1200px;margin:0 auto;border-top:1px solid transparent;}
.title_1{
    width:99px;
    height:107px;
    background:url('../img/yxt/Column_sign_2.png') center center no-repeat;
    text-align:center;
    position:relative;
    margin:73px auto 0 auto;
}
.title_1 img{position:absolute;left:35px;top:8px;}
.title_1 i{display:inline-block;font-size:20.16px;background:#fff;margin-top:50px;}
/*------------------网页尾部标签样式------------------*/
.footer{background:#1A1B23;}
.footer .content{width:1200px;margin:0 auto;}
.footer .content li{font-size:12px;color:#fefefe;line-height:78px;}
.footer li:first-child{float:left;}
.footer li:last-child{float:right;}