/*页面初始化*/
*{margin:0;padding:0;}
ul,li{list-style:none;}
u,a,s,del{text-decoration:none;}
/*清除焦点框*/
input,select,textarea,button,a{outline:none;}
/*清除样式*/
h1,h2,h3,h4,h5,h6,i,em,b,strong{font-style:normal;}
/*设置二个通用的类来定义1200px宽和满屏100%宽的盒子*/
.box_100,.new_100,.contact_100,.footer_100{width:100%;background:#343642;}
.box_1200,.company,.company_con,.new_1200,.contact_1200,.footer_1200{width:1200px;margin:0 auto;}
.box_1200:after,.nav_ul:after{
    content:'';
    display:block;
    width:0;
    height:0;
    visibility:hidden;
    clear:both;}/*清浮动*/
/*头部导航*/
.nav_img{float:left;width:79px;height:82px;}
.nav_img img{display:block;border:none;margin:20px 0 0 90px;}
.nav_ul{float:right;color:#fff;margin-right:60px;}
.nav_ul ul li{float:left;margin-left:60px;width:100px;line-height:125px;text-align:center;}
/*----设置伪类----*/
.nav_ul a:link,.nav_ul a:visited{color:#fff;}
.nav_ul ul li a:hover{display:inline-block;width:100px;background:#DBA914}
/*banner图*/
img[alt="banner"]{display:block;width:100%;}
/*公司介绍*/
/*通用样式标题*/
.company{margin:73px auto 0px auto;}
.company_int{
    margin:0 auto;
    background:url('../img/yxt/Column_sign_2.png') no-repeat center center;
    width:104px;
    height:107px;
    position:relative;}
.company_int img{position:absolute;left:38px;top:8px;}
.company_int span{
    position:absolute;
    left:5px;
    bottom:29px;
    background:#fff;font-size:20.16px;
    color:#343642;
    font-weight:bold;}
/*公司介绍内容排版定位*/
.com_l,.com_c,.com_r{display:inline-block;}
.company_con{margin-bottom:80px;margin-top:67px;}
.com_l{width:246px;height:127px;border:1px solid #D6D6D6;border-right:1px solid transparent;position: relative;}
.com_t{width:182px;height:206px;border:1px solid #D6D6D6;position:relative;top:-169px;left:148px;}
.com_l img{position:absolute;left:72px;top:-140px;}
.com_c{width:241px;border-bottom:1px solid #D6D6D6;margin-left:-4px;}
.com_r{width:704px;border:1px solid #D6D6D6;margin-left:-5px;position: relative;}
.com_r ul{padding:22px 37px;}
.com_r ul li{float:right;width:25px;font-size:13px;text-align:center;color:#757575;}
.com_r ul:after{content:'';display:block;width:0;height:0;visibility:hidden;clear:both;}
.com_r span{position:absolute;}
.com_r span.about_us{width:19px;background:#fff;right:-10px;top:49px;font-size:13px;text-align:center;}
.com_r span+span{background:#DBA914;color:#fff;text-align:center;width:60px;right:43px;bottom:-8px;}
/*新闻中心*/
.new_100{border-top:1px solid #343642;}
.new_100 .company_int{background:url('../img/yxt/Column_sign_3.png') no-repeat center center;}
.new_100 .company_int span{background:#343642;color:#AFB3CB;}
/*内容部分*/
.new_con{margin:36px auto 0 auto;padding-bottom:70px;}
.new_img{width:568px;height:364px;float:left;}
.new_img img{display:block;}
.new_ul{float:left;padding-left:30px;width:602px;height:364px;}
.new_con:after{content:'';display:block;width:0;height:0;visibility:hidden;clear:both;}
.first,.secend,.three{height:100px;}
.new_con .new_ul div.first:first-child+div{margin:32px 0;}
.first_l{float:left;width:67px;margin-left:20px;font-size:12px;color:#8D8F98;text-align:right;}
.first_l p{font-size:38.88px;color:#fff;}
.first_r{float:left;width:495px;margin-left:20px;color:#fff;}
.first_r p{font-size:14.05px;line-height:35px;}
.first_r div{font-size:12.04px;line-height:20px;margin-top:13px;}
.first{background:#3E4151;}
.new_con .new_ul div.first:hover{background:#3F4258;}
/*产品中心*/
.pro_center_100{background:#F8F6F1;border-top:1px solid #F8F6F1;}
.pro_center_100 .company_int span{background:#F8F6F1;color:#AFB3CB;}
.pro_center{margin:98px auto 0 auto;text-align:center;position:relative;width:1200px;}
.pro_center_l,.pro_center_c,.pro_center_r{float:left;position:relative;}
.pro_center_l{margin-bottom:154px;}
.pro_center_imgs{margin:0 auto;width:860px;}
.pro_center img{display:block;}
.pro_center_imgs:after{content:'';display:block;width:0;height:0;visibility:hidden;clear:both;}
img[alt="Carousel_2"]{margin-right:101px;}
img[alt="Carousel_1"]{margin-left:101px;}
.pro_center .mark{position:absolute;left:-164px;top:70px;z-index:2;}
/*图片下部的阴影和文字*/
.shadow,.shadow_1,.shadow_2{
    position:absolute;
    text-align:left;
    width:283px;
    padding:0 23px;
    height:100px;
    font-size:12px;
    color:#AAA29E;
    background-color: rgba(1,1,1,0.4)}
.shadow p,.shadow_1 p,.shadow_2 p{font-size:14px;color:#fff;;margin:24px 0 8px 0;text-align:center;}
.shadow{left:0;bottom:0;}
.shadow_1{top: 464px;left: -164px;z-index:3;}
.shadow_2{left:101px;bottom:0;}
/*轮播图左右按钮*/
.left_icon,.right_icon{position:absolute;width:66px;height:66px;}
.left_icon{top:202px;}
.right_icon{top:202px;right:0px;}
.left_icon img[alt="slash_1"]{position:absolute;top:16px;left:20px;}
.left_icon img[alt="slash_2"]{position:absolute;top:33px;left:20px;}
.right_icon img[alt="slash_1"]{position:absolute;top:33px;left:24px;}
.right_icon img[alt="slash_2"]{position:absolute;top:16px;left:24px;}
/*联系我们*/
.contact_100 .company_int{background:url('../img/yxt/Column_sign_3.png') no-repeat center center;}
.contact_100 .company_int span{background:#343642;color:#AFB3CB;}
.contact_1200{border-top:1px solid #343642;}
.contact_box{margin-top:68px;padding-bottom:32px;}
.contact_l ul li{
    width:398px;
    line-height:81px;
    border-bottom:1px solid #3F414E;
    font-size:13.32px;
    color:#dfe0e7;
}
.contact_l ul li div img{float:left;margin-right:10px;}
img[alt="home"],img[alt="company"],img[alt="iphone"]{margin-top:32px;}
img[alt="email"]{margin-top:35px;}
.contact_l{float:left;}
.contact_r{float:right;}
.contact_box:after{content:'';display:block;width:0;height:0;visibility:hidden;clear:both;}
.contact_r input{width:489px;}
.leaving{vertical-align:top;}
.contact_r{color:#dfe0e7;font-size:13px;}
.lines{height:50px;}
.submit{background:#DEAB14;width:62px;color:#fff;float: right;margin-right: 10px;text-align:center;}
input[type='text'],textarea{border:1px solid #414350;background:#343642;}
textarea{resize:none;}
/*最后一行*/
.footer_100{background:#1A1B23;}
.footer_1200 ul li{font-size:12px;color:#fefefe;height:76px;line-height:76px;}
.footer_1200 ul li:first-child{float:left;}
.footer_1200 ul li:first-child+li{float:right;}
.footer_1200 ul:after{content:'';display:block;width:0;height:0;visibility:hidden;clear:both;}