/*-------公共样式-common-------*/
* {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}
ol,
ul {
  list-style: none;
}
img {
  display: block;
  border: none;
}
a,
u,
s,
del {
  text-decoration: none;
}
input,
select,
textarea,
button,
a {
  outline: none;
}
textarea {
  resize: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
i,
em,
a {
  font: normal 12px '微软雅黑';
}
.clear {
  clear: both;
}
.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
/*-------Title标题-------*/
.title {
  width: 100%;
  margin: 0 auto;
}
.title .content {
  width: 39px;
  height: 107px;
  margin: 0 auto;
  position: relative;
}
.title .content img[alt="title_icon"] {
  position: absolute;
  left: 6px;
  top: 8px;
}
.title .content span {
  position: absolute;
  font-size: 20px;
  width: 90px;
  height: 30px;
  left: -65%;
  bottom: 25%;
  line-height: 30px;
  background: #fff;
  display: block;
  text-align: center;
}
/*-------头部样式-header-------*/
.header {
  width: 100%;
  background: #343642;
}
.header .content {
  width: 1200px;
  margin: 0 auto;
}
.header .content a.logo {
  display: inline-block;
  margin: 22px 0 0 90px;
  float: left;
}
.header .content ul {
  float: right;
}
.header .content ul li {
  float: left;
  width: 100px;
  height: 125px;
  text-align: center;
  margin-left: 18px;
  color: #fff;
  line-height: 125px;
  font-size: 14px;
}
.header .content ul li a {
  color: #fff;
}
.header .content ul li.current,
.header .content ul li:hover {
  background: #dba914;
}
/*-------尾部样式-footer-------*/
.footer {
  width: 100%;
  background: #1a1b23;
}
.footer .content {
  width: 1200px;
  margin: 0 auto;
}
.footer .content h3,
.footer .content h4 {
  line-height: 75px;
  height: 75px;
  color: #fff;
}
.footer .content h3 {
  float: left;
}
.footer .content h4 {
  float: right;
}
