/*-------Banner图-------*/
.banner {
  margin-bottom: 100px;
}
.banner img {
  width: 100%;
}
/*-------地图map-------*/
.map {
  width: 1200px;
  margin: 80px auto 0;
}
/*-------联系我们-------*/
.contact_us {
  width: 1200px;
  padding: 60px 0 84px;
  margin: 0 auto;
}
.contact_us .contact_con {
  margin: 70px auto 0;
  width: 1200px;
}
.contact_us .contact_con .left {
  float: left;
}
.contact_us .contact_con .left ul li {
  position: relative;
  line-height: 55px;
  width: 307px;
  border-bottom: 1px solid #444654;
}
.contact_us .contact_con .left ul li div {
  width: 16px;
  height: 17px;
  background: red;
  position: absolute;
  left: 0;
  top: 19px;
}
.contact_us .contact_con .left ul li span {
  padding-left: 32px;
}
.contact_us .contact_con .left ul li.mark {
  width: 505px;
}
.contact_us .contact_con .left ul li.mark div {
  background: url('../img/co_us_sprite.png') 0 -17px;
}
.contact_us .contact_con .left ul li:last-child {
  border: none;
}
.contact_us .contact_con .left ul li:first-child div {
  background: url('../img/co_us_sprite.png') 0 1px;
}
.contact_us .contact_con .left ul li.mark + li div {
  background: url('../img/co_us_sprite.png') 0 -37px;
}
.contact_us .contact_con .left ul li:last-child div {
  background: url('../img/co_us_sprite.png') 0 -56px;
}
.contact_us .contact_con .right {
  float: right;
}
.contact_us .contact_con .right form {
  width: 550px;
  font-size: 13px;
}
.contact_us .contact_con .right form input {
  width: 486px;
  height: 15px;
  border: 1px solid #4c4e5c;
}
.contact_us .contact_con .right form textarea {
  width: 487px;
  height: 60px;
  border: 1px solid #4c4e5c;
}
.contact_us .contact_con .right form input[type="submit"] {
  width: 61px;
  height: 20px;
  color: #fff;
  background: #1a1b23;
  float: right;
}
.contact_us .contact_con .right form .t_space {
  height: 20px;
}
.contact_us .contact_con .right form .m_space {
  height: 27px;
}
.contact_us .contact_con .right form .b_space {
  height: 8px;
}
.contact_us .contact_con .right form .leaving {
  vertical-align: top;
}
