/*-------Banner图-------*/
.banner {
  margin-bottom: 74px;
}
.banner img {
  width: 100%;
}
/*-------Title标题-------*/
.title {
  width: 100%;
  margin: 0 auto;
}
.title .content {
  width: 39px;
  height: 107px;
  margin: 0 auto;
  position: relative;
}
.title .content img[alt="title_icon"] {
  position: absolute;
  left: 6px;
  top: 8px;
}
.title .content span {
  position: absolute;
  font-size: 20px;
  width: 90px;
  height: 30px;
  left: -65%;
  bottom: 25%;
  line-height: 30px;
  background: #fff;
  display: block;
  text-align: center;
}
/*//用伪类做--可惜没法公用
.title{
  width:100%;margin:0 auto;
  .content{
    width:39px;height:107px;background:url('../img/title_border.png');
    margin:0 auto;position:relative;
    &:before{
      content:'';
      width:27px;height:37px;background:url('../img/title_icon.png');
      display:block;position:absolute;left:6px;top:8px;
    }
    &:after{
      content:'公司介绍';position:absolute;font-size:20px;
      width:90px;height:30px;line-height:30px;background:#fff;
      left:-65%;bottom:25%;
      text-align:center;
    }
  }
}*/
/*-------公司介绍-------*/
.about_us {
  width: 1200px;
  margin: 60px auto 80px auto;
}
.about_us .content .left {
  float: left;
  width: 484px;
  height: 275px;
  position: relative;
  border-bottom: 1px solid #c8c8c8;
}
.about_us .content .left img {
  position: absolute;
  left: 60px;
  top: -2px;
  z-index: 2;
}
.about_us .content .left:before {
  content: '';
  width: 180px;
  height: 203px;
  border: 1px solid #c8c8c8;
  display: block;
  position: absolute;
  left: 141px;
  top: -27px;
}
.about_us .content .left:after {
  content: '';
  width: 245px;
  height: 127px;
  position: absolute;
  border-left: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  left: 0;
  bottom: 0;
}
.about_us .content .right {
  float: right;
  width: 707px;
  height: 274px;
  border: 1px solid #c8c8c8;
  margin-right: 7px;
  position: relative;
  /*//用代码
      ul{
        width:605px;height:229px;background:red;
        margin:24px 0 0 51px;
        li{
          float:right;margin:0 6px;font-size:13px;
          width:12px;text-align:center;line-height:18px;
          div.comma{height:14px;background:url('../img/date.png')-4px 6px;}
          div.quotes{height:14px;background:url('../img/date.png')-20px 6px;}
          div.stop{height:14px;background:url('../img/date.png')-36px 6px;}
          div.period{height:14px;background:url('../img/date.png')-36px 6px;}
          div.point{height:19px;background:url('../img/date.png')0 6px;}
          div.year1{height:51px;background:url('../img/date.png')47px -149px;}
          div.year2{height:49px;background:url('../img/date.png')68px -151px;}
          div.month{height:24px;background:url('../img/date.png')12px 2px;}
          div.day{height:24px;background:url('../img/date.png')28px 3px;}
        }
      }
      */
}
.about_us .content .right img {
  margin: 24px 0 0 51px;
}
.about_us .content .right div {
  width: 15px;
  height: 93px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 64px;
  right: -8px;
  background: #fff;
  padding-top: 15px;
}
.about_us .content .right a {
  width: 62px;
  height: 22px;
  display: inline-block;
  color: #fff;
  line-height: 22px;
  position: absolute;
  bottom: -11px;
  right: 53px;
  background: #dba914;
  text-align: center;
}
/*-------新闻中心-------*/
.new_center {
  width: 100%;
  margin: 0 auto;
  background: #343642;
  padding: 74px 0 70px 0;
  margin-bottom: 74px;
}
.new_center .title span {
  color: #bcc0d9;
  background: #343642;
}
.new_center .new_con {
  margin: 38px auto 0 auto;
  width: 1200px;
  background: #343642;
}
.new_center .new_con img {
  float: left;
}
.new_center .new_con ul {
  float: right;
}
.new_center .new_con ul li {
  width: 601px;
  height: 100px;
  margin-top: 30px;
}
.new_center .new_con ul li:first-child {
  background: #3e4151;
  margin-top: 0;
}
.new_center .new_con ul li:first-child + li {
  background: #3f4258;
}
.new_center .new_con ul li:last-child {
  background: #3b3e4d;
}
.new_center .new_con ul li .left {
  text-align: right;
  float: left;
  width: 89px;
  color: #fff;
}
.new_center .new_con ul li .left h2 {
  font-size: 39px;
  line-height: 28px;
  margin-top: 20px;
}
.new_center .new_con ul li .left span {
  font-size: 12px;
}
.new_center .new_con ul li .right {
  width: 432px;
  float: left;
  margin-left: 21px;
  font-size: 12px;
  color: #fff;
  line-height: 19px;
}
.new_center .new_con ul li .right p {
  font-size: 14px;
  margin: 16px 0 14px 0;
}
/*-------产品中心-------*/
.product_center {
  width: 1200px;
  margin: 94px auto 154px auto;
  position: relative;
}
.product_center ul {
  margin: 0 auto;
  width: 987px;
}
.product_center ul li {
  float: left;
  width: 329px;
  height: 494px;
  position: relative;
}
.product_center ul li.float_state {
  position: relative;
  top: 70px;
  z-index: 2;
}
.product_center ul li:first-child {
  margin: 0 -55px 0 55px;
}
.product_center ul li:last-child {
  margin-left: -55px;
}
.product_center ul li div {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: rgba(100, 99, 97, 0.4);
  text-align: center;
  color: #fffefe;
}
.product_center ul li div h2 {
  font-size: 14px;
  margin: 16px 0 6px;
}
.product_center ul li div p {
  font: 12px/18px '微软雅黑';
  text-align: left;
  width: 292px;
  margin: 0 auto;
}
.product_center div.left,
.product_center div.right {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 201px;
}
.product_center div.left {
  left: 0;
}
.product_center div.right {
  right: 0;
}
/*-------联系我们-------*/
.contact_us {
  width: 100%;
  background: #343642;
  padding: 74px 0 30px;
}
.contact_us .title span {
  color: #bcc0d9;
  background: #343642;
}
.contact_us .contact_con {
  margin: 70px auto 0;
  width: 1200px;
}
.contact_us .contact_con .left {
  float: left;
}
.contact_us .contact_con .left ul li {
  position: relative;
  color: #dfe0e7;
  line-height: 80px;
  width: 307px;
  border-bottom: 1px solid #444654;
}
.contact_us .contact_con .left ul li div {
  width: 16px;
  height: 17px;
  background: red;
  position: absolute;
  left: 0;
  top: 31px;
}
.contact_us .contact_con .left ul li span {
  margin-left: 32px;
}
.contact_us .contact_con .left ul li.mark {
  width: 505px;
}
.contact_us .contact_con .left ul li.mark div {
  background: url('../img/sprite.png') 0 -17px;
}
.contact_us .contact_con .left ul li:last-child {
  border: none;
}
.contact_us .contact_con .left ul li:first-child div {
  background: url('../img/sprite.png') 0 1px;
}
.contact_us .contact_con .left ul li.mark + li div {
  background: url('../img/sprite.png') 0 -37px;
}
.contact_us .contact_con .left ul li:last-child div {
  background: url('../img/sprite.png') 0 -56px;
}
.contact_us .contact_con .right {
  float: right;
}
.contact_us .contact_con .right form {
  width: 550px;
  color: #dfe0e7;
  font-size: 13px;
}
.contact_us .contact_con .right form input {
  width: 486px;
  height: 12px;
  border: 1px solid #4c4e5c;
}
.contact_us .contact_con .right form textarea {
  width: 487px;
  height: 90px;
  border: 1px solid #4c4e5c;
}
.contact_us .contact_con .right form input,
.contact_us .contact_con .right form textarea {
  background: #343642;
}
.contact_us .contact_con .right form input[type="submit"] {
  width: 61px;
  height: 20px;
  color: #fff;
  background: #deab14;
  float: right;
}
.contact_us .contact_con .right form .t_space {
  height: 32px;
}
.contact_us .contact_con .right form .m_space {
  height: 46px;
}
.contact_us .contact_con .right form .b_space {
  height: 22px;
}
.contact_us .contact_con .right form .leaving {
  vertical-align: top;
}
