.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner img {
  width: 100%;
}
.banner .circle {
  position: absolute;
  bottom: 18.75px;
  left: 50%;
}
.banner .circle ul {
  position: relative;
  left: -50%;
}
.banner .circle ul li {
  float: left;
}
.banner .circle ul li:first-child + li {
  margin: 0 28px;
}
.banner .select {
  position: absolute;
  left: 112px;
  top: 0;
}
.banner .select ul {
  font-size: 18px;
  background: #000;
  width: 320px;
  height: 456px;
  border-top: 1px solid #000;
}
.banner .select ul h2,
.banner .select ul h3 {
  color: #fff;
  padding-left: 64px;
}
.banner .select ul li {
  height: 75px;
  border-bottom: 1px solid #333;
  border-top: 1px solid #000;
  position: relative;
}
.banner .select ul li:first-child h2 {
  font-weight: bold;
}
.banner .select ul li h2 {
  margin: 12px 0 4px 0;
}
.banner .select ul li h3 {
  margin-bottom: 10px;
}
.banner .select ul li div {
  position: absolute;
  width: 17px;
  height: 19px;
  top: 10px;
  left: 43px;
}
.banner .select ul li.hot div {
  background: url('../img/sprite.png') 0 0 no-repeat;
}
.banner .select ul li.Fabulous div {
  background: url('../img/sprite.png') 0 -19px no-repeat;
}
.banner .select ul li.best div {
  background: url('../img/sprite.png') 0 -38px no-repeat;
}
.banner .select ul li.watch div {
  background: url('../img/sprite.png') 4px -57px no-repeat;
}
.banner .select ul li.style div {
  background: url('../img/sprite.png') 4px -76px no-repeat;
}
.banner .select ul li.like div {
  background: url('../img/sprite.png') 0 -95px no-repeat;
}
.main {
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid transparent;
}
.main .hot {
  margin: 40px 0 0 0;
}
.main .hot ol li {
  float: left;
  width: 383px;
  text-align: center;
}
.main .hot ol li:first-child + li {
  margin: 0 25px;
}
.main .hot ol li:hover div {
  border-color: #f99d1c;
}
.main .hot ol li:hover div:before {
  border-bottom-color: #f99d1c;
}
.main .hot ol li h2 {
  font-size: 18px;
  color: #666;
  margin: 3px 0 9.5px 0;
}
.main .hot ol li.current div:before {
  border-bottom-color: #f99d1c;
}
.main .hot ol li.current div {
  border-color: #f99d1c;
}
.main .hot ol li div {
  width: 381px;
  border: 1px solid transparent;
  position: relative;
}
.main .hot ol li div:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -14px;
  left: 183px;
  border: 6.5px solid transparent;
}
.main .hot ul {
  padding: 14px 0 0 0;
  border-top: 1px solid #f99d1c;
}
.main .hot ul li {
  float: left;
  margin-right: 13px;
  position: relative;
}
.main .hot ul li:last-child {
  margin-right: 0;
}
.main .hot ul li div {
  width: 81px;
  height: 80px;
  position: absolute;
  left: 9px;
  top: 47px;
}
.main .hot ul li div h2 {
  font-size: 16px;
}
.main .hot ul li div h3 {
  font-size: 14px;
  color: #fd030f;
}
.main .hot ul li div a {
  width: 70px;
  height: 20px;
  color: #fff;
  display: block;
  text-align: center;
  background: #e6e6e7;
  margin-top: 20.5px;
}
.main .fabulous {
  margin: 52px 0 54px 0;
}
.main .fabulous h3 {
  font-size: 24px;
  color: #2b2b2b;
  margin: 9px 0;
}
.main .fabulous ul > li {
  float: left;
}
.main .fabulous ul > li.fab_1 ol li {
  float: left;
}
.main .fabulous ul > li.fab_1 ol li:first-child {
  width: 200px;
  height: 371px;
  background: #fadfb8;
  text-align: center;
}
.main .fabulous ul > li.fab_1 ol li:first-child h2 {
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  background: #f99d1c;
}
.main .fabulous ul > li.fab_1 ol li:first-child h3 {
  font-size: 16px;
  color: #fd030f;
}
.main .fabulous ul > li.fab_1 ol li:first-child h4 {
  font-size: 14px;
  color: #fd030f;
}
.main .fabulous ul > li.fab_1 ol li:last-child {
  width: 183px;
  border: 1px solid #c9c7c7;
  border-left: none;
  text-align: right;
}
.main .fabulous ul > li.fab_1 ol li:last-child div {
  position: relative;
}
.main .fabulous ul > li.fab_1 ol li:last-child div h2 {
  position: absolute;
  left: 10px;
  top: 19px;
  font-size: 16px;
}
.main .fabulous ul > li.fab_1 ol li:last-child div img[alt="fab_1_2"] {
  padding: 45px 0 12px 85px;
}
.main .fabulous ul > li.fab_1 ol li:last-child div img[alt="fab_1_3"] {
  padding: 52px 0 19px 85px;
  border-top: 1px solid #c9c7c7;
}
.main .fabulous ul > li.fab_2 {
  width: 258px;
  height: 369px;
  border: 1px solid #dcdcdc;
  margin-left: 12px;
}
.main .fabulous ul > li.fab_2 div {
  position: relative;
}
.main .fabulous ul > li.fab_2 div:first-child {
  border-bottom: 1px solid #dcdcdc;
}
.main .fabulous ul > li.fab_2 div ol {
  position: absolute;
  left: 22px;
  top: 9px;
}
.main .fabulous ul > li.fab_2 div ol li:first-child {
  font-size: 16.36px;
  margin-bottom: 5px;
}
.main .fabulous ul > li.fab_2 div ol li:last-child {
  font-size: 14px;
  color: #ce3f00;
}
.main .best ul > li {
  float: left;
  width: 390px;
  height: 449px;
}
.main .best ul > li:first-child + li {
  margin: 0 15px;
}
.main .best ul > li .title {
  line-height: 51px;
  text-align: center;
  color: #fff;
  background: #419dae;
  font-size: 18px;
}
.main .best ul > li .con {
  position: relative;
  height: 114px;
  width: 388px;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  background: #4c0000;
}
.main .best ul > li .con h2 {
  font-size: 36px;
  color: #fff;
  margin: 16px 0 2px 7px;
}
.main .best ul > li .con h3 {
  font-size: 14px;
  color: #fff;
  margin-left: 16px;
}
.main .best ul > li .con img {
  position: absolute;
  right: 0;
  top: 0;
}
.main .best ul > li ol {
  border: 1px solid #d1d1d1;
}
.main .best ul > li ol:last-child {
  border-top: none;
}
.main .best ul > li ol li {
  float: left;
  position: relative;
}
.main .best ul > li ol li:first-child {
  border-right: 1px solid #d1d1d1;
}
.main .best ul > li ol li .font {
  position: absolute;
  width: 58px;
  left: 11px;
  top: 15px;
  font-size: 14px;
  color: #666;
}
.main .best ul > li:first-child + li .con {
  background: #032f0b;
}
.main .best ul > li:first-child + li .con h2 {
  font-size: 24px;
}
.main .best ul > li:last-child .con {
  background: #2e0292;
}
.main .best ul > li:last-child .con h2 {
  font-size: 30px;
  margin-left: 29px;
}
.main .best ul > li:last-child .con h3 {
  margin-left: 40px;
}
.main .watch {
  margin: 52px 0 54px 0;
}
.main .watch h3 {
  font-size: 24px;
  color: #2b2b2b;
  margin: 9px 0;
}
.main .watch ul li {
  float: left;
  width: 218px;
  height: 302px;
  margin-right: 25px;
  border: 1px solid #c9c9c9;
}
.main .watch ul li:last-child {
  margin-right: 0;
}
.main .watch ul p {
  text-align: center;
  margin-bottom: 20px;
}
.main .watch ul div {
  width: 191px;
  height: 44px;
  margin: 0 auto;
}
.main .watch ul h5,
.main .watch ul h6 {
  font-size: 16.2px;
}
.main .watch ul h5 {
  float: left;
}
.main .watch ul h6 {
  float: right;
  color: #fff;
  width: 66px;
  height: 22px;
  background: #f94b1c;
  text-align: center;
  margin-top: 4px;
}
.main .style {
  margin: 52px 0 54px 0;
}
.main .style > h3 {
  font-size: 24px;
  color: #2b2b2b;
  margin: 9px 0;
}
.main .style ul > li {
  float: left;
  width: 400px;
  height: 579px;
}
.main .style ul > li img[alt="style_1"] {
  border: 1px solid #e5e5e5;
}
.main .style ul > li .text {
  height: 38px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background: #eee;
}
.main .style ul > li .text h2,
.main .style ul > li .text h3 {
  font-size: 16px;
  margin-top: 14px;
}
.main .style ul > li .text h2 {
  float: left;
  margin-left: 8px;
}
.main .style ul > li .text h3 {
  float: right;
  margin-right: 15px;
}
.main .style ul > li .brand {
  width: 398px;
  height: 115px;
  border: 1px solid #e5e5e5;
  padding-top: 17px;
}
.main .style ul > li .brand ol {
  width: 56px;
  font-size: 14px;
  color: #999;
}
.main .style ul > li .brand ol > li {
  line-height: 26px;
}
.main .style ul > li .brand .l {
  float: left;
  margin: 0 6px 0 7px;
}
.main .style ul > li .brand .r {
  float: right;
  margin: 0 16px 0 3px;
}
.main .style ul li:first-child + li {
  position: relative;
}
.main .style ul li:first-child + li ol {
  position: absolute;
  left: 50%;
  top: 269px;
}
.main .style ul li:first-child + li ol li {
  float: left;
  position: relative;
  left: -50%;
}
.main .style ul li:first-child + li ol > li:first-child + li {
  margin: 0 21px;
}
.main .style ul li:first-child + li .new {
  width: 400px;
  height: 142px;
  border-top: 1px solid #e5e5e5;
}
.main .style ul li:first-child + li .new > h2 {
  font-size: 16px;
  color: #f99d1c;
  display: inline-block;
  margin: 27px 0 0 18px;
}
.main .style ul li:first-child + li .new img[alt="style_2_2"] {
  float: right;
  margin-right: 20px;
}
.main .style ul li:first-child + li .style_btm {
  width: 399px;
  height: 144px;
  border: 1px solid #e5e5e5;
  border-right: none;
}
.main .style ul li:first-child + li .style_btm div {
  float: left;
}
.main .style ul li:first-child + li .style_btm div:first-child {
  width: 185px;
  height: 144px;
  border-right: 1px solid #e5e5e5;
}
.main .style ul li:first-child + li .style_btm div:last-child {
  width: 213px;
  height: 144px;
}
.main .style ul li:first-child + li .style_btm div:last-child > h2 {
  margin: 24px 0 0 19px;
}
.main .style ul li:last-child div {
  width: 398px;
  height: 144px;
  border: 1px solid #e5e5e5;
}
.main .style ul li:last-child div img {
  float: right;
  margin: 20px 51px 0 0;
}
.main .style ul li:last-child div p {
  float: left;
  margin: 25px 0 0 12px;
}
.main .style ul li:last-child div:first-child + div {
  border-top: none;
  border-bottom: none;
}
.main .style ul li:last-child div:first-child + div img {
  float: left;
  margin: 13px 0 0 42px;
}
.main .style ul li:last-child div:first-child + div p {
  float: right;
  margin: 26px 13px 0 0;
}
.main .style ul li:last-child ul {
  width: 398px;
  height: 287px;
  border: 1px solid #e5e5e5;
}
.main .style ul li:last-child ul li {
  height: 287px;
}
.main .style ul li:last-child ul li img {
  margin: 20px auto 0 auto;
}
.main .style ul li:last-child ul li p {
  text-align: center;
  margin-top: 24px;
}
.main .style ul li:last-child ul li:first-child {
  width: 198px;
  border-right: 1px solid #e5e5e5;
}
.main .style ul li:last-child ul li:last-child {
  width: 199px;
}
.main .special_watch {
  margin: 52px 0 54px 0;
}
.main .special_watch > h3 {
  font-size: 24px;
  color: #2b2b2b;
  margin: 9px 0;
}
.main .special_watch ul > li:first-child {
  float: left;
}
.main .special_watch ul > li:first-child div {
  height: 309px;
  width: 398px;
  position: relative;
  border: 1px solid #e5e5e5;
}
.main .special_watch ul > li:first-child div img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.main .special_watch ul > li:first-child div p {
  margin: 12px 0 0 9px;
}
.main .special_watch ul > li:first-child div p span {
  font-size: 14px;
  color: #f99d1c;
  margin-left: 2px;
  display: block;
  margin-top: 5px;
}
.main .special_watch ul > li:first-child ol {
  height: 38px;
  background: #eee;
}
.main .special_watch ul > li:first-child ol > li {
  margin-top: 12px;
}
.main .special_watch ul > li:first-child ol > li:first-child {
  float: left;
  margin-left: 8px;
}
.main .special_watch ul > li:first-child ol > li:last-child {
  float: right;
  margin-right: 23px;
}
.main .special_watch ul > li:first-child .last {
  font-size: 14px;
  height: 94px;
  width: 398px;
  border: 1px solid #e5e5e5;
}
.main .special_watch ul > li:first-child .last .left {
  float: left;
  width: 42px;
}
.main .special_watch ul > li:first-child .last .left > li {
  margin-bottom: 10px;
}
.main .special_watch ul > li:first-child .last .right {
  float: right;
}
