//banner图
.banner{
  position:relative;
  overflow:hidden;
  img{
    width:100%;
  }
  .circle{
    position:absolute;
    bottom:25px;
    left:50%;
    ul{
      position:relative;
      left:-50%;
      li{
        float:left;
        &:first-child+li{
          margin:0 28px;
        }
      }
    }
  }
  .select{
    position:absolute;
    left:112px;
    top:0;
    ul{
      font-size:18px;
      background:#000;
      width:320px;height:456px;
      border-top:1px solid #000;
      h2,h3{
        color:#fff;
        padding-left:64px;
      }
      li{
        height:75px;
        border-bottom:1px solid #333;
        border-top:1px solid #000;
        position:relative;
        &:first-child h2{font-weight:bold;}
        h2{
          margin:12px 0 4px 0;
        }
        h3{
          margin-bottom:10px;
        }
        div{position:absolute;
          width:17px;height:19px;
          top:10px;left:43px;
        }
        &.hot div{
          background:url('../img/sprite.png') 0 0 no-repeat;
        }
        &.Fabulous div{
          background:url('../img/sprite.png') 0 -19px no-repeat;
        }
        &.best div{
          background:url('../img/sprite.png') 0 -38px no-repeat;
        }
        &.watch div{
          background:url('../img/sprite.png') 4px -57px no-repeat;
        }
        &.style div{
          background:url('../img/sprite.png') 4px -76px no-repeat;
        }
        &.like div{
          background:url('../img/sprite.png') 0 -95px no-repeat;
        }
      }
    }
  }
}
//中间主体部分
.main{
  width:1200px;margin:0 auto;
  border-top:1px solid transparent;
  .hot{
    margin:40px 0 0 0;
    ol{
      li{
        float:left;
        width:383px;
        text-align:center;
        &:first-child+li{
          margin:0 25px;
        }
        &:hover{
          div{
            border-color:#f99d1c;
            &:before{
              border-bottom-color:#f99d1c;
            }
          }
        }
        h2{
          font-size:18px;color:#666;
          margin:3px 0 9.5px 0;
        }
        &.current{
          div:before{
            border-bottom-color:#f99d1c;
          }
          div{
            border-color:#f99d1c;
          }
        }
        div{
          width:381px;
          border:1px solid transparent;
          position:relative;
          &:before{
            content:'';
            width:0;
            height:0;
            position:absolute;
            top:-14px;
            left:183px;
            border:6.5px solid transparent;
          }
        }
      }
    }
    ul{
      padding:14px 0 0 0;
      border-top:1px solid #f99d1c;
      li{
        float:left;
        margin-right:13px;
        &:last-child{
          margin-right:0;
        }
        position:relative;
        div{
          width:81px;height:80px;
          position:absolute;
          left:9px;
          top:47px;
          h2{font-size:16px;}
          h3{font-size:14px;color:#fd030f;}
          a{
            width:70px;height:20px;color:#fff;
            display:block;text-align:center;
            background:#e6e6e7;
            margin-top:20.5px;
          }
        }
      }
    }
  }
}