/*---------公共样式重置---------*/
* {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}
ol,
ul {
  list-style: none;
}
img {
  display: block;
  border: none;
}
a,
u,
s,
del {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
i,
em,
a {
  color: #333;
  font: normal 14px '微软雅黑';
}
input,
select,
textarea,
button,
a {
  outline: none;
}
textarea {
  resize: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
/*---------头部--样式---------*/
.header {
  width: 100%;
  margin: 0 auto;
  background: #1d1e20;
}
.header div {
  border-top: 1px solid #1d1e20;
  border-bottom: 1px solid #2a2b2d;
}
.header div a {
  width: 1200px;
  display: block;
  margin: 0 auto;
}
.header div a img {
  margin: 21px auto 14px;
}
.header ul {
  width: 1200px;
  margin: 0 auto;
}
.header ul li {
  float: left;
  border-bottom: 2px solid transparent;
  padding: 28px 0 22px 0;
  width: 65px;
  text-align: center;
}
.header ul li:first-child {
  margin: 0 128px 0 131px;
}
.header ul li.third_child {
  margin: 0 162px 0 164px;
}
.header ul li:last-child {
  margin: 0 151px 0 139px;
}
.header ul li a {
  color: #d9b677;
}
.header ul li:hover {
  border-bottom-color: #d9b677;
}
/*---------Banner---------*/
.banner img {
  width: 100%;
}
/*---------尾部--样式---------*/
.footer {
  width: 100%;
  background: #1d1e20;
}
.footer .content {
  width: 1200px;
  margin: 0 auto;
}
.footer .content img {
  float: left;
  margin: 34px 0 28px 0;
}
.footer .content .company_name {
  float: left;
  margin: 68px 0 0 3px;
}
.footer .content .company_name h2,
.footer .content .company_name h3 {
  color: #bdbdbd;
}
.footer .content .company_name h2 {
  font-size: 24px;
  font-weight: bold;
}
.footer .content .company_name h3 {
  font-size: 14px;
}
.footer .content .company_name h3 span {
  margin-left: 49px;
}
.footer .content .address {
  float: right;
  margin-top: 47px;
}
.footer .content .address h4 {
  font-size: 14px;
  color: #bdbdbd;
}
.footer .content .address ul {
  margin: 13px 0;
}
.footer .content .address ul li {
  float: left;
  color: #bdbdbd;
  position: relative;
  width: 54px;
  padding-left: 20px;
  font-size: 13px;
}
.footer .content .address ul li.fo_us {
  margin: 0 42px 0 33px;
}
.footer .content .address ul li div {
  width: 18px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}
.footer .content .address ul li.ab_us {
  margin-left: 4px;
}
.footer .content .address ul li.ab_us div {
  background: url('../img/footer_sprite.png') 18px 0;
}
.footer .content .address ul li.fo_us div {
  background: url('../img/footer_sprite.png') 0 0;
}
.footer .content .address ul li.share div {
  background: url('../img/footer_sprite.png') 36px 0;
}
.footer .content .address h5 {
  font-size: 12px;
  color: #bdbdbd;
  float: right;
}
.footer .content .address h5 span {
  margin: 0 4px;
}
