* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
img {
  display: block;
  border: none;
}
a,
u,
s,
del {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
i,
em {
  color: #333;
  font: normal 12px '微软雅黑';
}
input,
select,
textarea,
button,
a {
  outline: none;
}
textarea {
  resize: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
.header .top {
  background: #f1f1f1;
  height: 34px;
}
.header .top div {
  width: 1200px;
  margin: 0 auto;
}
.header .top div a:hover {
  color: #f99d1c;
}
.header .top div ol {
  float: left;
  margin-left: 2px;
  width: 182px;
  font-size: 14px;
  line-height: 34px;
}
.header .top div ol li {
  float: left;
  width: 56px;
  margin-right: 35px;
}
.header .top div ol li a {
  color: #2b2b2b;
}
.header .top div ul {
  float: right;
  font-size: 14px;
  margin-top: 12px;
}
.header .top div ul li {
  float: left;
  width: 56px;
  margin-left: 13px;
}
.header .top div ul li a {
  display: block;
  width: 100%;
  color: #2b2b2b;
}
.header .top div ul li a.current {
  color: #f99d1c;
  margin-right: 5px;
}
.header .middle {
  width: 1200px;
  margin: 0 auto;
}
.header .middle > a {
  float: left;
  margin: 16px 0 10px 48px;
}
.header .middle form {
  float: left;
  position: relative;
  width: 461px;
  margin: 38px 0 0 240px;
}
.header .middle form input[name="search"] {
  width: 366px;
  height: 28px;
  border: 1px solid #f99d1c;
  position: relative;
  top: -1.5px;
}
.header .middle form input[name="btn"] {
  width: 93px;
  height: 30px;
  background: #f99d1c;
  color: #fff;
  font-size: 14px;
  border: none;
  margin-left: -5px;
  text-align: center;
}
.header .middle form ul li {
  float: left;
  margin-right: 13px;
  line-height: 18px;
  font-size: 14px;
}
.header .middle form ul li a {
  color: #666;
}
.header .middle .shop {
  margin: 38px 0 0 0;
  width: 143px;
  height: 28px;
  float: right;
  border: 1px solid #f99d1c;
}
.header .middle .shop a {
  position: relative;
  display: block;
  width: 100%;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: #666;
}
.header .middle .shop a img {
  position: absolute;
  top: 7px;
  left: 16px;
}
.header .bottom {
  background: #fbb24c;
  height: 60px;
  line-height: 60px;
}
.header .bottom .nav {
  font-size: 18px;
  color: #2d2b2b;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}
.header .bottom .nav .left {
  float: left;
  width: 320px;
  background: #f99d1c;
}
.header .bottom .nav ul {
  float: right;
  margin-right: 6px;
}
.header .bottom .nav ul li {
  float: left;
  width: 72px;
  margin-left: 73px;
}
.header .bottom .nav ul li a {
  color: #2b2b2b;
}
