header .bottom .container dl dd {
  display: none;
}
section {
  padding: 26px 0;
  width: 1200px;
  margin: 0 auto;
}
section .sidenav {
  float: left;
  width: 188px;
  padding-left: 40px;
}
section .sidenav h2 {
  font-size: 18px;
  color: #000;
  margin-bottom: 6px;
}
section .sidenav .mecenter {
  margin-bottom: 26px;
}
section .sidenav .mecenter ul {
  font-size: 14px;
  line-height: 24px;
  color: #686767;
}
section .sidenav .mecenter ul li > a {
  font-size: 14px;
  line-height: 24px;
  color: #686767;
}
section .sidenav .mecenter ul li span {
  margin-left: 32px;
  color: #bbb;
}
section .sidenav .mecenter ul li span a {
  font-size: 14px;
  color: #bbb;
}
section .sidenav .mefengling h2 {
  font-size: 18px;
  color: #000;
  margin-bottom: 6px;
}
section .sidenav .mefengling ul {
  font-size: 14px;
  line-height: 24px;
  color: #686767;
}
section .sidenav .mefengling ul li > a {
  font-size: 14px;
  line-height: 24px;
  color: #686767;
}
section .sidenav .mefengling ul li ol {
  margin-left: 18px;
}
section .sidenav .mefengling ul li.current > a {
  color: #ff9b94;
}
section .myorder {
  float: right;
  width: 970px;
  border-left: 2px solid #b5b5b5;
  padding-top: 40px;
}
section .myorder h1 {
  font-size: 24px;
  margin: 0 0 36px 44px;
}
section .myorder form {
  background: #fef4f2;
  width: 906px;
  margin: 0 0 52px 34px;
  padding: 42px 0 30px 16px;
}
section .myorder form h2 {
  font-size: 14px;
  margin-bottom: 16px;
}
section .myorder form h2 span {
  color: #ff0000;
  margin-right: 26px;
}
section .myorder form .region {
  margin-bottom: 10px;
}
section .myorder form .region span {
  float: left;
  display: block;
  line-height: 24px;
  width: 116px;
  text-align: left;
  font-size: 14px;
}
section .myorder form .region .area {
  float: left;
  width: 130px;
  line-height: 22px;
  border: 1px solid #b5b5b5;
  position: relative;
  background: #fff;
  text-align: center;
  margin-right: 16px;
  font-size: 12px;
}
section .myorder form .region .area:after {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -4px;
  background: url('../img/address_icon.png') no-repeat;
}
section .myorder form .region .provinces {
  float: left;
  width: 312px;
  line-height: 22px;
  border: 1px solid #b5b5b5;
  position: relative;
  background: #fff;
  text-align: left;
  padding-left: 8px;
  font-size: 12px;
  color: #a7a7a7;
}
section .myorder form .region .provinces:after {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -4px;
  background: url('../img/address_icon.png') no-repeat;
}
section .myorder form label {
  display: block;
  margin-bottom: 10px;
}
section .myorder form label span {
  float: left;
  display: block;
  line-height: 24px;
  width: 116px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}
section .myorder form label textarea {
  width: 460px;
  height: 96px;
  float: left;
  padding: 4px;
}
section .myorder form label textarea::-webkit-input-placeholder {
  color: #a7a7a7;
  font-size: 12px;
}
section .myorder form label textarea:-moz-placeholder {
  color: #a7a7a7;
  font-size: 12px;
}
section .myorder form label textarea::-moz-placeholder {
  color: #a7a7a7;
  font-size: 12px;
}
section .myorder form label textarea:-ms-input-placeholder {
  color: #a7a7a7;
  font-size: 12px;
}
section .myorder form label > input {
  width: 252px;
  line-height: 22px;
  padding: 0 4px;
}
section .myorder form label > input::-webkit-input-placeholder {
  color: #a7a7a7;
  font-size: 12px;
}
section .myorder form label > input:-moz-placeholder {
  color: #a7a7a7;
  font-size: 12px;
}
section .myorder form label > input::-moz-placeholder {
  color: #a7a7a7;
  font-size: 12px;
}
section .myorder form label > input:-ms-input-placeholder {
  color: #a7a7a7;
  font-size: 12px;
}
section .myorder form label.default {
  position: relative;
  margin-bottom: 22px;
}
section .myorder form label.default label {
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  width: 13px;
  height: 13px;
  border: 1px solid #b5b5b5;
  margin-left: 116px;
  background: url('../img/shop_cart_radio_mark.png') no-repeat 3px 1px;
}
section .myorder form label.default label input {
  display: none;
}
section .myorder form label.default span {
  margin-left: 146px;
}
section .myorder form > a {
  width: 190px;
  line-height: 44px;
  color: #fff;
  background: #ff9991;
  display: block;
  margin-left: 116px;
  text-align: center;
}
section .myorder table {
  width: 936px;
  margin: 0 0 80px 34px;
  text-align: left;
}
section .myorder table tr th {
  font-size: 18px;
  font-weight: normal;
  line-height: 60px;
  border-bottom: 1px solid #c0c0c0;
}
section .myorder table tr td {
  font-size: 12px;
  line-height: 42px;
}
section .myorder table tr.interval {
  height: 24px;
}
section .myorder table .consignee {
  width: 180px;
}
section .myorder table .country {
  width: 190px;
}
section .myorder table .address {
  width: 200px;
}
section .myorder table .postcodes {
  width: 138px;
}
section .myorder table .call {
  width: 110px;
}
section .myorder table .operation {
  width: 118px;
  text-align: center;
}
section .myorder table .operation .setdefault {
  width: 52px;
  line-height: 18px;
  display: inline-block;
  border: 1px solid #ff9991;
  text-align: center;
  margin-left: 2px;
}
section .myorder table .operation .default {
  width: 54px;
  line-height: 20px;
  display: inline-block;
  background: #ff9991;
  color: #fff;
  text-align: center;
  margin-left: 2px;
}
section .myorder .page {
  width: 348px;
  margin-left: 622px;
}
section .myorder .page a {
  width: 42px;
  height: 42px;
  border: 1px solid #b5b5b5;
  float: left;
  margin: 0 3px;
}
section .myorder .page a.pre {
  position: relative;
}
section .myorder .page a.pre:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: 8px solid transparent;
  border-right-color: #000;
  position: absolute;
  left: 20%;
  top: 50%;
  margin-top: -8px;
}
section .myorder .page a.next {
  position: relative;
  margin-right: 0;
}
section .myorder .page a.next:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: 8px solid transparent;
  border-left-color: #000;
  position: absolute;
  right: 20%;
  top: 50%;
  margin-top: -8px;
}
section .myorder .page ol {
  float: left;
}
section .myorder .page ol li {
  text-align: center;
  float: left;
  width: 42px;
  line-height: 42px;
  border: 1px solid #b5b5b5;
  margin: 0 3px;
  cursor: pointer;
}
section .myorder .page ol li span {
  position: relative;
  top: -4px;
}
section .myorder .page ol li:hover {
  background: #ff9b94;
}
.right_nav {
  width: 60px;
  position: absolute;
  left: 50%;
  top: 560px;
  margin-left: 604px;
  z-index: 999;
}
.right_nav > img {
  width: 62px;
  height: 68px;
  margin: 0 auto;
  position: relative;
  left: -4px;
}
.right_nav ul li {
  width: 60px;
  background: #ff9b94;
  text-align: center;
  border-top: 1px solid #fff;
}
.right_nav ul li:first-child {
  border-top: none;
}
.right_nav ul li a {
  display: block;
  border-top: 1px solid #ff9b94;
  border-bottom: 1px solid #ff9b94;
}
.right_nav ul li a img {
  width: 32px;
  height: 28px;
  margin: 12px auto 2px;
}
.right_nav ul li a span {
  font-size: 12px;
  color: #fff;
  display: block;
  margin: 2px auto 8px;
}
.right_nav ul li.code {
  background: #525252;
}
.right_nav ul li.code a {
  border-color: #525252;
}
.right_nav ul li.code a img {
  width: 44px;
  height: 44px;
  margin: 8px auto;
}
