.banner {
  position: relative;
  overflow: hidden;
}
.banner ul {
  width: 1000%;
  position: relative;
}
.banner ul li {
  width: 10%;
  float: left;
}
.banner ul li img {
  width: 100%;
}
.banner span {
  width: 82px;
  height: 154px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -77px;
}
.banner span.left {
  left: 40px;
  background: url('../img/banner_left_icon.png');
}
.banner span.right {
  right: 40px;
  background: url('../img/banner_right_icon.png');
}
.banner ol {
  width: 168px;
  position: absolute;
  left: 50%;
  margin-left: -84px;
  bottom: 30px;
}
.banner ol li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: #5c5b5b;
  float: left;
  margin: 0 22px;
}
.banner ol li.on {
  background: #dfa973;
}
section {
  width: 1200px;
  margin: 0 auto;
}
section .special div {
  float: left;
  width: 600px;
  text-align: center;
  padding-top: 92px;
}
section .special div h2 {
  font-size: 30px;
  color: #000;
  margin-bottom: 60px;
  letter-spacing: 10px;
}
section .special div img {
  width: 302px;
  height: 230px;
  margin: 0 auto;
}
section .special div a {
  display: inline-block;
  margin-bottom: 26px;
  width: 302px;
  line-height: 44px;
  text-align: center;
  background: #ff9b94;
  color: #fff;
  font-size: 16px;
}
section .hotBrand {
  padding-top: 76px;
}
section .hotBrand h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}
section .hotBrand ul {
  padding: 0 293px;
  background: #ff9b94;
}
section .hotBrand ul li {
  float: left;
  width: 46px;
  line-height: 50px;
  margin-left: 96px;
  text-align: center;
}
section .hotBrand ul li a {
  color: #fff;
  display: block;
  border-bottom: 1px solid transparent;
  line-height: 48px;
  border-top: 1px solid transparent;
}
section .hotBrand ul li:first-child {
  margin-left: 0;
}
section .hotBrand ul li:hover a,
section .hotBrand ul li.current a {
  color: #000;
  border-bottom-color: #000;
}
section .hotBrand > div {
  margin: 10px 0;
}
section .hotBrand > div img {
  width: 464px;
  height: 712px;
  float: left;
}
section .hotBrand > div > div {
  float: right;
  width: 716px;
  margin-top: 28px;
}
section .hotBrand > div > div ol {
  width: 100%;
  height: 370px;
}
section .hotBrand > div > div ol li {
  float: left;
  width: 170px;
  height: 250px;
  padding: 42px 34px 0;
}
section .hotBrand > div > div ol li > div > a {
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
}
section .hotBrand > div > div ol li > div > a img {
  width: 168px;
  height: 168px;
  border: 1px solid #bfbfbf;
  margin-bottom: 12px;
}
section .hotBrand > div > div ol li > div > a span {
  line-height: 20px;
  display: inline-block;
}
section .hotBrand > div > div ol li > div > span {
  font-size: 18px;
  color: #ff0000;
  line-height: 20px;
}
section .hotBrand > div > div ol li > div > span i {
  font-size: 18px;
}
section .hotBrand > div > div ol li.current {
  width: 286px;
  padding: 0 15px 0;
  position: relative;
}
section .hotBrand > div > div ol li.current div {
  position: absolute;
  z-index: 2;
}
section .hotBrand > div > div ol li.current div a {
  display: block;
  margin-bottom: 8px;
  width: 286px;
}
section .hotBrand > div > div ol li.current div a img {
  width: 278px;
  height: 278px;
  border: 4px solid #ff9b94;
  margin-bottom: 4px;
}
section .hotBrand > div > div ol li.current div a span {
  font-size: 18px;
  line-height: 26px;
}
section .hotBrand > div > div ol li.current div > span {
  font-size: 24px;
  display: inline-block;
}
section .hotBrand > div > div ol li.current div > span i {
  font-size: 24px;
  line-height: 30px;
  display: inline-block;
}
section .hotBrand > div > div ol li.change {
  padding: 42px 15px 0;
}
section .weddingring {
  padding-bottom: 38px;
}
section .weddingring h3 {
  line-height: 50px;
  color: #fff;
  background: #ff9b94;
  font-size: 30px;
  text-align: center;
}
section .weddingring div {
  position: relative;
  overflow: hidden;
  margin: 40px 0 106px;
}
section .weddingring div ul {
  width: 1000%;
  position: relative;
}
section .weddingring div ul li {
  float: left;
  width: 200px;
  margin: 0 50px;
}
section .weddingring div ul li a {
  display: block;
}
section .weddingring div ul li a img {
  width: 200px;
  height: 100px;
}
section .weddingring div > span {
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -11px;
}
section .weddingring div > span.left {
  left: 0;
  background: url('../img/weddingring_left.png');
}
section .weddingring div > span.right {
  right: 0;
  background: url('../img/weddingring_right.png');
}
section .weddingring div:hover span {
  display: block;
}
section .weddingring ol {
  width: 1020px;
  margin: 0 auto;
}
section .weddingring ol li {
  width: 72px;
  float: left;
  margin: 0 15px;
  text-align: center;
}
section .weddingring ol li img {
  width: 64px;
  height: 74px;
  margin: 0 auto 4px;
}
section .weddingring ol li span {
  font-size: 14px;
  display: block;
  color: #a9a6a6;
  margin: 0 auto;
}
section .weddingring ol li:hover span {
  color: #ff0000;
}
section .seller h3 {
  line-height: 50px;
  color: #fff;
  background: #ff9b94;
  font-size: 30px;
  text-align: center;
}
section .seller ul {
  width: 1198px;
  border: 1px solid #eaeaea;
  background: url('../img/seller_bg.png') no-repeat -2px -2px;
}
section .seller ul li {
  width: 599px;
  float: left;
}
section .seller ul li a {
  display: block;
}
section .seller ul li a img {
  float: left;
  width: 207px;
  height: 206px;
  margin: 20px 0 20px 66px;
}
section .seller ul li div {
  float: left;
  width: 326px;
  text-align: center;
  padding-top: 44px;
}
section .seller ul li div h4 {
  font-size: 24px;
  margin-bottom: 26px;
}
section .seller ul li div h5 {
  font-size: 14px;
  margin-bottom: 18px;
  color: #646464;
}
section .seller ul li div p {
  font-size: 14px;
  margin-bottom: 12px;
  color: #646464;
}
section .seller ul li div p span {
  font-size: 14px;
  color: #000;
  margin: 0 8px;
}
section .seller ul li div p span i {
  font-size: 18px;
  color: #000;
}
section .seller ul li div a {
  display: inline-block;
  width: 142px;
  line-height: 24px;
  color: #fff;
  background: #f2a39f;
  position: relative;
  top: -6px;
}
section .more {
  position: relative;
}
section .more h3 {
  line-height: 50px;
  color: #fff;
  background: #ff9b94;
  font-size: 30px;
  text-align: center;
}
section .more .more_1 {
  float: left;
  margin: 26px 14px 13px 10px;
}
section .more .more_2 {
  float: right;
  z-index: 2;
  margin-top: 26px;
}
section .more .more_3 {
  float: left;
  margin-left: 10px;
}
section .more > div {
  position: relative;
  width: 1134px;
  margin: 0 auto;
  overflow: hidden;
  padding: 86px 0 60px;
}
section .more > div ul {
  width: 1000%;
  position: relative;
}
section .more > div ul li {
  float: left;
  width: 102px;
  margin: 0 30px;
}
section .more > div ul li a {
  display: block;
}
section .more > div ul li a img {
  width: 102px;
  height: 124px;
}
section .more > span {
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  bottom: 134px;
}
section .more > span.left {
  left: 14px;
  background: url('../img/weddingring_left.png');
}
section .more > span.right {
  right: 14px;
  background: url('../img/weddingring_right.png');
}
