header .up {
  height: 32px;
  background: #f7d2cf;
}
header .down {
  background: #fbf2f1;
}
header .down .container {
  width: 1200px;
  margin: 0 auto;
}
header .down .container a.logo {
  display: block;
  float: left;
  width: 200px;
  padding: 24px 0 14px;
}
header .down .container a.logo img {
  width: 140px;
  height: 140px;
  margin-left: 32px;
}
header .down .container > div {
  float: left;
  width: 306px;
  padding-top: 88px;
  font-size: 18px;
}
header .down .container > div span:first-child {
  letter-spacing: 2px;
  margin: 0 68px 0 48px;
}
section {
  background: url('../img/register_background.png') no-repeat;
  background-size: 100% 100%;
  position: relative;
}
section .register {
  position: relative;
  left: 50%;
  margin-left: 42px;
  padding: 40px 0 64px;
  width: 420px;
}
section .register .left {
  float: left;
  font: 24px/30px '微软雅黑 Regular';
  margin-bottom: 38px;
}
section .register .right {
  float: right;
  font: 12px/20px '微软雅黑 Regular';
  padding-top: 6px;
}
section .register .right a {
  color: #ff0000;
  font-size: 12px;
  font-weight: bold;
}
section .register form {
  text-align: center;
  padding: 32px 0 18px;
  background: #fcede9;
}
section .register form input {
  width: 292px;
  height: 40px;
  border: none;
  margin-bottom: 30px;
  padding-left: 24px;
}
section .register form input#code {
  width: 150px;
  float: left;
  margin-left: 52px;
  margin-bottom: 0;
}
section .register form input.reg {
  width: 316px;
  height: 40px;
  padding-left: 0;
  background: #ff9b94;
  cursor: pointer;
  color: #fff;
  margin-bottom: 0;
}
section .register form > .code {
  display: block;
  float: left;
  margin: 3px 0 3px 40px;
  width: 98px;
  line-height: 34px;
  background: #ef99ca;
  font-weight: 900;
  cursor: pointer;
}
section .register form > a {
  color: #fff;
  background: #ff9b94;
  display: block;
  margin: 0 auto;
  width: 316px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}
section .register form .clear {
  width: 316px;
  line-height: 24px;
  font-size: 12px;
  margin: 0 auto;
  padding: 24px 0 20px;
  color: #8f8785;
  position: relative;
}
section .register form .clear span {
  margin-left: 34px;
  float: left;
}
section .register form .clear > a {
  float: right;
  font-size: 12px;
  margin-right: 4px;
  color: #8f8785;
}
section .register form .clear > div {
  width: 24px;
  height: 24px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 24px;
  cursor: pointer;
}
section .register form .clear > div img {
  width: 8px;
  height: 12px;
  margin: 6px auto 0;
  display: none;
}
section .register .partnership {
  background: #fcede9;
  padding-bottom: 8px;
}
section .register .partnership h3 {
  text-align: center;
  font-size: 12px;
  width: 316px;
  margin: 0 auto;
}
section .register .partnership ul {
  width: 316px;
  margin: 16px auto 0;
}
section .register .partnership ul li {
  width: 46px;
  height: 46px;
  float: left;
  margin: 0 16px;
  background: #fdf8f5;
  border-radius: 50%;
}
