header{
  .bottom{
    .container{
      dl{
        dd{display:none;}
      }
    }
  }
}
section{
  padding-top:26px;width:1200px;margin:0 auto;
  h2{font-size:18px;color:#000;margin-bottom:6px;}
  ul{
    font-size:14px;line-height:24px;color:#686767;
    li{
      &>a{font-size:14px;line-height:24px;color:#686767;}
    }
  }
  .sidenav{
    float:left;width:188px;padding-left:40px;
    .mecenter{
      margin-bottom:26px;
      ul{
        li{
          span{
            margin-left:32px;color:#bbb;
            a{font-size:14px;color:#bbb;}
          }
        }
      }
    }
    .mefengling{
      ul{
        li{
          ol{
            margin-left:18px;
          }
          &.current{
            &>a{color:#ff9b94;}
          }
        }
      }
    }
  }
  .myorder{
    float:right;width:970px;border-left:2px solid #b5b5b5;
    .search{
      background:#f5f7f6;margin-left:30px;
      span{
        float:left;display:inline-block;line-height:44px;margin-left:8px;
      }
      form{
        float:right;position:relative;padding:8px 0;
        &>input{
          width:204px;line-height:26px;border:1px solid #b5b5b5;
          margin-right:48px;padding:0 52px 0 8px ;
        }
        label{
          display:block;width:26px;height:16px;position:absolute;
          right:68px;top:14px;cursor:pointer;
          background:url('../img/order_search_icon.png') no-repeat;
          input{display:none;}
        }
      }
    }
    .ordercate{
      margin-left:30px;
      ol{
        li{

        }
      }
      ul{
        li{

        }
      }
    }
  }
}