.banner {
  position: relative;
  overflow: hidden;
}
.banner ul {
  width: 1000%;
  position: relative;
}
.banner ul li {
  width: 10%;
  float: left;
}
.banner ul li img {
  width: 1200px;
  margin: 0 auto;
}
.banner span {
  width: 82px;
  height: 154px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -77px;
}
.banner span.left {
  left: 40px;
  background: url('../img/banner_left_icon.png');
}
.banner span.right {
  right: 40px;
  background: url('../img/banner_right_icon.png');
}
.banner ol {
  width: 168px;
  position: absolute;
  left: 50%;
  margin-left: -84px;
  bottom: 30px;
}
.banner ol li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: #5c5b5b;
  float: left;
  margin: 0 22px;
}
.banner ol li.on {
  background: #dfa973;
}
header .bottom .container dl dd {
  display: none;
}
section {
  width: 1200px;
  margin: 0 auto 66px;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
section .leftsidebar {
  padding: 16px 0 0 0;
  float: left;
}
section .leftsidebar h2 {
  font-size: 14px;
  color: #000;
  margin-bottom: 20px;
}
section .leftsidebar .category {
  padding: 16px 0 28px 38px;
  font-size: 14px;
  width: 200px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
section .leftsidebar .category dl {
  margin-top: 22px;
}
section .leftsidebar .category dl dt {
  position: relative;
}
section .leftsidebar .category dl dt span {
  cursor: pointer;
}
section .leftsidebar .category dl dt b {
  font-size: 22px;
  width: 16px;
  height: 16px;
  transform: rotate(0deg);
  line-height: 14px;
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -9px;
}
section .leftsidebar .category dl dd {
  display: block;
  margin-top: 12px;
  padding-left: 4px;
}
section .leftsidebar .category dl dd ol li {
  margin-top: 6px;
}
section .leftsidebar .category dl dd ol li:first-child {
  margin-top: 0;
}
section .leftsidebar .category dl dd ol li a {
  font-size: 14px;
  color: #908e8e;
}
section .leftsidebar .category dl:first-child {
  margin-top: 0;
}
section .leftsidebar .category dl.unfold {
  padding-bottom: 0;
}
section .leftsidebar .category dl.unfold dt b {
  transform: rotate(90deg);
}
section .leftsidebar .hotsale {
  width: 144px;
  margin-left: 30px;
}
section .leftsidebar .hotsale h1 {
  font-size: 14px;
  color: #000;
  margin: 14px 0 46px;
}
section .leftsidebar .hotsale ul {
  margin-left: 18px;
  width: 126px;
  text-align: center;
}
section .leftsidebar .hotsale ul li {
  width: 100%;
  font-size: 12px;
  margin-top: 70px;
}
section .leftsidebar .hotsale ul li .hotshop {
  display: block;
  margin-bottom: 2px;
}
section .leftsidebar .hotsale ul li div .price {
  color: #ff9b94;
}
section .leftsidebar .hotsale ul li div .price i {
  margin-left: 2px;
  color: #ff9b94;
}
section .leftsidebar .hotsale ul li div .workoff {
  margin-left: 10px;
  color: #cbc9c9;
}
section .leftsidebar .hotsale ul li div .workoff i {
  margin-left: 8px;
  color: #000;
}
section .leftsidebar .hotsale ul li:first-child {
  margin-top: 0;
}
section .leftsidebar .hotsale h3 {
  margin-bottom: 4px;
}
section .leftsidebar .hotsale h3 a {
  display: inline-block;
  font-size: 12px;
}
section .leftsidebar .hotsale i {
  font-size: 12px;
}
section .leftsidebar .hotsale img {
  width: 126px;
  height: 120px;
  margin: 0 auto;
}
section .leftsidebar .adver {
  margin: 60px 0 0 30px;
  width: 180px;
}
section .leftsidebar .adver a {
  display: block;
  margin-top: 38px;
}
section .leftsidebar .adver a img {
  width: 180px;
  height: 212px;
}
section .leftsidebar .adver a:first-child {
  margin-top: 0;
}
section .container {
  float: right;
  width: 844px;
  margin-top: 55px;
  border-top: 1px solid #000;
}
section .container .selected {
  float: left;
  width: 106px;
  font-size: 12px;
  padding: 14px 0 14px 50px;
  text-align: left;
}
section .container .selected span {
  display: block;
  line-height: 12px;
  border-right: 1px solid #8d8d8d;
}
section .container .unlimit {
  float: left;
  width: 132px;
  font-size: 12px;
  padding: 14px 0;
  text-align: center;
}
section .container .unlimit span {
  display: block;
  line-height: 12px;
  cursor: pointer;
}
section .container .select {
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
}
section .container .select .note {
  float: left;
  width: 568px;
  height: 40px;
  padding-left: 46px;
  display: flex;
  align-items: center;
}
section .container .select .note a {
  padding: 6px 8px;
  display: inline-block;
  padding-right: 20px;
  background: #ff9b94;
  position: relative;
  margin-right: 4px;
}
section .container .select .note b {
  font-size: 8px;
  color: #fff;
  position: absolute;
  line-height: 6px;
  top: 6px;
  right: 8px;
}
section .container .select .note .shopname span {
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 12px;
}
section .container .select .empty {
  width: 70px;
  color: #908b8b;
  cursor: pointer;
  float: left;
  font-size: 12px;
  padding: 12px 0;
}
section .container .price {
  border-bottom: 1px solid #d4d4d4;
}
section .container .price .range {
  width: 456px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
section .container .price .range span {
  display: block;
  font-size: 12px;
  cursor: pointer;
}
section .container .brand {
  overflow: hidden;
  border-bottom: 1px solid #d4d4d4;
}
section .container .brand .brandcate {
  float: left;
  width: 488px;
  height: 40px;
  overflow: hidden;
}
section .container .brand .brandcate span {
  display: block;
  float: left;
  font-size: 12px;
  padding: 12px 0;
  margin-right: 14px;
  cursor: pointer;
}
section .container .brand .more {
  float: left;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  position: relative;
  color: #ff9b94;
  width: 68px;
}
section .container .brand .more span {
  cursor: pointer;
}
section .container .brand .more i {
  position: absolute;
  font-size: 12px;
  right: 10px;
  top: 11px;
}
section .container .texture {
  border-bottom: 1px solid #d4d4d4;
}
section .container .texture .texturecate {
  width: 428px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
section .container .texture .texturecate span {
  display: block;
  font-size: 12px;
  cursor: pointer;
}
section .container .advancesearch {
  width: 120px;
  line-height: 30px;
  border: 1px solid #d4d4d4;
  border-top-color: #fff;
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
  position: relative;
  top: -1px;
  cursor: pointer;
}
section .container .selector {
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
}
section .container .selector ul {
  overflow: hidden;
  width: 200px;
  margin: 0 auto;
}
section .container .selector ul li {
  float: left;
  width: 100px;
  text-align: center;
  border-bottom: 1px solid transparent;
  line-height: 14px;
  padding: 28px 0;
}
section .container .selector ul li a {
  display: block;
  font-size: 14px;
  line-height: 14px;
}
section .container .selector ul li:first-child a {
  border-right: 1px solid #d4d4d4;
}
section .container .selector ul li.current {
  border-bottom-color: #ffa59e;
}
section .container .selector ul li.current a {
  color: #ffa59e;
}
section .container .sort {
  margin-top: 24px;
  padding: 12px 0;
  line-height: 12px;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
section .container .sort .left {
  float: left;
}
section .container .sort .left ul {
  margin-left: 14px;
  width: 222px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .container .sort .left ul li {
  font-size: 12px;
  width: 36px;
  position: relative;
}
section .container .sort .left ul li b {
  width: 8px;
  height: 8px;
  display: block;
  font-size: 8px;
  margin-left: 2px;
  position: absolute;
  right: 1px;
  top: 0px;
  background: url('../img/L_icon.png');
  transform: rotateY(180deg) rotate(180deg);
}
section .container .sort .left ul li.current {
  color: #ffa59e;
}
section .container .sort .left ul li.current b {
  right: 3px;
  top: 4px;
  transform: rotate(-10deg);
}
section .container .sort .right {
  float: right;
  overflow: hidden;
  font-size: 14px;
}
section .container .sort .right span {
  float: left;
  display: block;
}
section .container .sort .right span b {
  margin-right: 6px;
}
section .container .sort .right i,
section .container .sort .right b {
  font-size: 14px;
  line-height: 12px;
}
section .container .sort .right .shopnum {
  text-align: left;
  width: 106px;
  margin-right: 28px;
  line-height: 12px;
  border-right: 1px solid #424242;
}
section .container .sort .right .shopnum i {
  color: #ff0000;
}
section .container .goods {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .container .goods li {
  margin: 20px 0;
  width: 228px;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #d2d2d2;
}
section .container .goods li:hover {
  border-bottom: 4px solid #ffa59e;
}
section .container .goods li:hover div {
  margin-bottom: 13px;
}
section .container .goods li a,
section .container .goods li i {
  font-size: 16px;
}
section .container .goods li a {
  display: block;
  margin-bottom: 10px;
}
section .container .goods li a img {
  width: 228px;
  height: 228px;
}
section .container .goods li .gsprice {
  color: #ffa59e;
  display: inline-block;
  margin-bottom: 6px;
}
section .container .goods li .gsprice i {
  color: #ffa59e;
}
section .container .goods li h2 {
  margin-bottom: 6px;
}
section .container .goods li div {
  margin-bottom: 16px;
}
section .container .goods li .gworkoff {
  color: #969595;
  margin-right: 14px;
}
section .container .goods li .gworkoff i {
  color: #000;
  margin-left: 10px;
}
section .container .goods li .gcomment {
  color: #969595;
}
section .container .goods li .gcomment i {
  color: #000;
  margin-left: 10px;
}
section .container .page {
  width: 348px;
  margin-left: 496px;
  overflow: hidden;
  margin-bottom: 60px;
}
section .container .page a {
  width: 40px;
  height: 40px;
  border: 1px solid #b5b5b5;
  float: left;
}
section .container .page a.pre {
  position: relative;
  margin-right: 12px;
}
section .container .page a.pre:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: 8px solid transparent;
  border-right-color: #000;
  position: absolute;
  left: 20%;
  top: 50%;
  margin-top: -8px;
}
section .container .page a.next {
  position: relative;
  margin-right: 0;
  margin-left: 12px;
}
section .container .page a.next:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: 8px solid transparent;
  border-left-color: #000;
  position: absolute;
  right: 20%;
  top: 50%;
  margin-top: -8px;
}
section .container .page ol {
  float: left;
}
section .container .page ol li {
  text-align: center;
  float: left;
  width: 40px;
  line-height: 40px;
  border: 1px solid #b5b5b5;
  margin: 0 3px;
  cursor: pointer;
}
section .container .page ol li span {
  position: relative;
  top: -4px;
}
section .container .page ol li:hover {
  background: #ff9b94;
}
.right_nav {
  top: 1167px;
}
