/*--------公共样式--------*/
*{margin:0;padding:0;font-family:"微软雅黑"}
ol,ul{list-style:none;}
u,s,del,a{color:#020202;text-decoration:none;}
h1,h2,h3,h4,h5,h6,b,strong,i,em,p{color:#020202;font:normal 14px "微软雅黑";}
img{display:block;border:none;}
input,select,textarea,button,a{outline:none;}
textarea{resize:none;}
.clear{clear:both;}
.clearfix:after{content:'';display:block;width:0;height:0;visibility:hidden;clear:both;}
/*--------网页头部--.header--------*/
.header{
  width:1200px;margin:0 auto;
  a.logo{
    float:left;
    margin-top:19px;
  }
  ul{
    float:right;
    margin:30px 0 24px 0;
    li{
      float:left;
      width:66px;
      margin-left:112px;
      color:#0a0a0a;
      a{
        display:block;
        font:16px/40px '微软雅黑 Bold';
        border-bottom:4px solid transparent;
      }
    }
    .current,li:hover{
      a{
        color:#4a699e;font-weight:bold;border-color:#4a699e;
      }
    }
  }
}
/*--------网页尾部--.footer--------*/
.footer{
  width:100%;background:#6b7996;
  .footer_list{
    width:1200px;margin:0 auto;
    .footer_left{
      float:left;
      dl{
        margin:30px 92px 0 0;
        float:left;color:#fff;a{color:#fff;}
        dt{margin-bottom:38px;font-size:16px;}
        dd{margin-bottom:14px;font-size:14px;}
      }
    }
    .footer_right{
      margin-top:30px;color:#fff;
      float:right;width:451px;
      p{
        color:#fff;
        float:left;width:187px;height:59px;
        margin-top:56px;line-height:23px;
      }
      .qr{float:right;text-align:center;line-height:22px;}
    }
    .footer_bottom{
      line-height:55px;font-size:14px;text-align:center;
      color:#fff;
      u{display:inline-block;margin:0 13px 0 34px;color:#fff;}
    }
  }
}