/*------联系我们------*/
.banner{
  img{width:100%;}
}
.content{
  width:1200px;margin:110px auto 0;
  ul{
      float:left;width:342px;border:1px dashed #080103;padding:28px 0 34px;
      border-radius:10px;behavior:url('PIE/PIE.htc');
      li{
        width:284px;margin:0 auto;
        span,i{
          font:14px/30px '微软雅黑 Regular';display:inline-block;
        }
        i{margin-left:6px;}
      }
    }
  form{
    float:right;width:786px;margin-right:30px;padding-top:16px;
    label{
      font:16px/22px '微软雅黑 Regular';
      display:block;float:left;position:relative;margin-bottom:34px;
      &.left{
        width:400px;padding-left:16px;
      }
      &.right{
        width:370px;
      }
      &.textarea{
        textarea{
          width:696px;height:82px;line-height:14px;margin-left:70px;
          padding:10px 4px 0 6px;overflow:auto;
        }
        span{position:absolute;top:50%;margin-top:-10px;}
      }
      &.vcode{
        input{
          width:208px;height:48px;line-height: 48px;border-right:none;
          border-radius:10px 0 0 10px;padding-right:6px;
        }
        img{
          position:absolute;right:-98px;top:0;width:100px;height:50px;cursor:pointer;
        }
      }
      span{cursor:pointer;}
    }
    input,textarea{
      width:302px;height:50px;border:1px dashed #080103;
      border-radius:10px;behavior:url('PIE/PIE.htc');
      padding: 0 4px;line-height:50px;margin-left:14px;
      &.sub,&.res{
        font:18px/42px '微软雅黑 Regular';border:none;width:96px;
        cursor:pointer;
      }
      &.sub{
       background:#4a699e;
       color:#fff;margin: 0 50px 0 280px;
      }
      &.res{
        background:#bfbfbf;
      }

    }
  }
  }
#map{
  width:1200px;height:330px;margin:0 auto 90px;
}
