/*--------标题样式--------*/
.title{
  margin:0 auto;width:172px;
  text-align:center;padding:14px 0 12px;
  h2{
    font:30px/36px '微软雅黑 Regular';
    color:#0e0d0e;
  }
  h3{
    font:16px/20px '微软雅黑 Regular';color:#4a699e;
    span{margin-left:16px;}
  }
}
/*--------网页轮播图--.banner--------*/
.banner{
  overflow: hidden;
  position:relative;
  ul{
    width:1000%;position:relative;
    li{
      float:left;width:10%;
      img{width:100%;}
    }
  }
  span{
    position:absolute;display:block;
    width:56px;height:66px;top:200px;
    cursor: pointer;
    &.left{
      background:url('../img/sprite.png') 219px 197px;
      left:55px;display:none;
    }
    &.right{
      background:url('../img/sprite.png') 108px 123px;
      right:55px;display:none;
    }
  }
  ol{
    position:absolute;
    bottom:26px;left:50%;margin-left:-72px;
    li{
      float:left;width:18px;height:18px;margin:0 15px;
      cursor: pointer;
      background:url('../img/sprite.png') 108px 29px;
      &.on{
        background:url('../img/sprite.png') 108px 47px;
      }
    }
  }
}
/*--------关于我们--.about_us--------*/
.about_us{
  width:1200px;margin:92px auto 90px;
  .title{
    background:url('../img/title_about.png') no-repeat;
  }
  .content{
    margin:36px 0 90px;
    .about_left{
      float:left;
      p{
        font:14px/28px '微软雅黑 Regular';
        width:558px;margin:0 15px;
        text-indent:2em;
      }
      ul{
        margin-left:21px;
        li{
          float:left;width:48px;height:50px;margin:0 48px;
          &.icon1{background:url('../img/sprite.png') 0 0;}
          &.icon2{background:url('../img/sprite.png') 0 -50px;}
          &.icon3{background:url('../img/sprite.png') 0 -98px;}
          &.icon4{background:url('../img/sprite.png') 0 -147px;}
        }
      }
    }
    img{float:right;}
  }
}
/*--------产品中心--.product_center--------*/
.product_center{
  background:#f2f2f2;padding-bottom:29px;
  border-top:1px solid #f2f2f2;
  .title{
    margin:14px auto 32px;width:189px;
    background:url('../img/title_product.png') no-repeat;
    span{margin-left:15px;}
  }
  .pro_center{
    background:url("../img/product_bg.png") center center no-repeat ;
    ul{
      position:relative;
      top:-10px;
      width:1200px;margin:0 auto;
      &>li{
        float:left;margin-right:26px;
        width:280px;height:570px;
        &>a{
          img{width:280px;height:301px;}
        }
        div{
          border-top:1px solid transparent;
          padding:2px 0 26px 18px;background:#d7eef9;
          &>a{
            display:block;
            font-size:18px;margin:24px 0;
          }
          ol{
            height:168px;
            li{
              font:16px/22px '微软雅黑 Regular';
              width:202px;
            }
            }
        }
        &:hover{
          div{background:#6684b0;a,ol li{color:#f7f4f4;}}
        }
      }
    }
  }
  }
/*--------新闻中心--.new_center--------*/
.news_center{
  width:1200px;margin:95px auto 68px auto;
  .title{
    padding:14px 0 12px;
    h2{
      line-height:30px;margin-bottom:4px;
    }
    h3{
      line-height:16px;
    }
    background:url('../img/title_new.png') no-repeat;
  }
  .news_list{
    margin:29px 0 56px 0;
    ul{
      li{
        float:left;width:567px;height:131px;
        position:relative;border:6px solid transparent;
        margin:0 42px 34px 0;
        img{
          position:absolute;right:-6px;bottom:-6px;
        }
        .news_left{
          float:left;margin:0 23px;width:70px;
          text-align:center;
          h2{
            font:64px/70px '微软正黑体';
            display:inline-block;
           margin-top:32px;
          }
          div{
            width:53px;height:0;margin:0 auto;
            border:1px solid #4a699e;
          }
          h3{font-size:14px;}
        }
        .news_right{
          float:left;width:426px;
          p{font-size:16px;margin:24px 0 20px 0;}
          font-size:14px;line-height:22px;
        }
        &:hover{
          border-color:#75829d;
        }
      }
    }
  }
}