/*--------标题样式--------*/
.title {
  margin: 0 auto;
  width: 172px;
  text-align: center;
  padding: 14px 0 12px;
}
.title h2 {
  font: 30px/36px '微软雅黑 Regular';
  color: #0e0d0e;
}
.title h3 {
  font: 16px/20px '微软雅黑 Regular';
  color: #4a699e;
}
.title h3 span {
  margin-left: 16px;
}
/*--------网页轮播图--.banner--------*/
.banner {
  overflow: hidden;
  position: relative;
}
.banner ul {
  width: 1000%;
  position: relative;
}
.banner ul li {
  float: left;
  width: 10%;
}
.banner ul li img {
  width: 100%;
}
.banner span {
  position: absolute;
  width: 53px;
  height: 66px;
  top: 200px;
  cursor: pointer;
  display: none;
}
.banner span.left {
  background: url('../img/sprite.png') 73px 0;
  left: 54px;
}
.banner span.left:hover {
  background: url('../img/sprite.png') 0 0;
}
.banner span.right {
  background: url('../img/sprite.png') 0 66px;
  right: 54px;
}
.banner span.right:hover {
  background: url('../img/sprite.png') 73px 66px;
}
.banner ol {
  position: absolute;
  bottom: 26px;
  left: 50%;
  margin-left: -72px;
}
.banner ol li {
  float: left;
  width: 18px;
  height: 18px;
  margin: 0 15px;
  cursor: pointer;
  background: url('../img/sprite.png') 18px -18px;
}
.banner ol li.on {
  background: url('../img/sprite.png') 18px 0;
}
/*--------关于我们--.about_us--------*/
.about_us {
  width: 1200px;
  margin: 92px auto 90px;
}
.about_us .title {
  background: url('../img/title_about.png') no-repeat;
}
.about_us .content {
  margin: 36px 0 90px;
  padding-left: 16px;
}
.about_us .content .about_left {
  float: left;
  width: 558px;
  padding-top: 32px;
}
.about_us .content .about_left p {
  font: 14px/28px '微软雅黑 Regular';
  width: 558px;
  text-indent: 2em;
}
.about_us .content .about_left ul {
  margin: 50px 0 0 44px;
}
.about_us .content .about_left ul li {
  float: left;
  width: 48px;
  height: 50px;
  margin-left: 86px;
}
.about_us .content .about_left ul li:first-child {
  margin-left: 0;
}
.about_us .content > img {
  width: 576px;
  height: 360px;
  float: right;
}
/*--------产品中心--.product_center--------*/
.product_center {
  background: #f2f2f2;
  padding-bottom: 30px;
  border-top: 1px solid #f2f2f2;
}
.product_center .title {
  margin: 14px auto 32px;
  width: 184px;
  background: url('../img/title_product.png') no-repeat;
}
.product_center .title span {
  margin-left: 16px;
}
.product_center .pro_center {
  background: url("../img/product_bg.png") center center no-repeat;
}
.product_center .pro_center ul {
  position: relative;
  top: -6px;
  width: 1200px;
  margin: 0 auto;
}
.product_center .pro_center ul > li {
  float: left;
  margin-left: 26px;
  width: 280px;
  padding-bottom: 26px;
}
.product_center .pro_center ul > li:first-child {
  margin-left: 0;
}
.product_center .pro_center ul > li > a img {
  width: 280px;
  height: 302px;
}
.product_center .pro_center ul > li div {
  padding: 1px 0 0 18px;
  background: #d7eef9;
  height: 270px;
}
.product_center .pro_center ul > li div > h2 a {
  display: block;
  font-size: 18px;
  margin: 24px 0;
}
.product_center .pro_center ul > li div p {
  font: 16px/22px '微软雅黑 Regular';
  width: 202px;
}
.product_center .pro_center ul > li div p i {
  margin-left: 6px;
  font-size: 16px;
}
.product_center .pro_center ul > li:hover div {
  background: #6684b0;
}
.product_center .pro_center ul > li:hover div a,
.product_center .pro_center ul > li:hover div p,
.product_center .pro_center ul > li:hover div p i {
  color: #f7f4f4;
}
/*--------新闻中心--.new_center--------*/
.news_center {
  width: 1200px;
  margin: 94px auto 68px;
}
.news_center .title {
  padding: 14px 0 12px;
  background: url('../img/title_new.png') no-repeat;
}
.news_center .title h2 {
  line-height: 30px;
  margin-bottom: 4px;
}
.news_center .title h3 {
  line-height: 16px;
}
.news_center ul {
  margin: 30px 0 56px;
}
.news_center ul li {
  float: left;
  width: 568px;
  position: relative;
  border: 6px solid transparent;
  margin: 0 40px 34px 0;
}
.news_center ul li img {
  position: absolute;
  right: -6px;
  bottom: -6px;
}
.news_center ul li .news_left {
  float: left;
  margin: 0 24px;
  width: 70px;
  text-align: center;
}
.news_center ul li .news_left h2 {
  font: 64px/70px '微軟正黑體 Regular';
  margin-top: 32px;
  position: relative;
}
.news_center ul li .news_left h2:after {
  content: '';
  width: 54px;
  height: 2px;
  display: block;
  position: absolute;
  background: #4a699e;
  bottom: -2px;
  left: 8px;
}
.news_center ul li .news_left h3 {
  font-size: 14px;
  margin: 2px 0 8px;
}
.news_center ul li .news_right {
  float: left;
  width: 426px;
}
.news_center ul li .news_right h2 a {
  display: block;
  font-size: 16px;
  margin: 24px 0 20px;
}
.news_center ul li .news_right p {
  font: 14px/22px '微软雅黑 Regular';
}
.news_center ul li:hover {
  border-color: #75829d;
}
.news_center ul li:after {
  content: '';
  width: 376px;
  height: 63px;
  display: block;
  position: absolute;
  right: -6px;
  bottom: -6px;
  background: url('../img/news_style.png');
}
