/*--------标题样式--------*/
.title {
  margin: 0 auto;
  width: 172px;
  height: 82px;
  background: url('../img/title_border.png');
  text-align: center;
  font-size: 14px;
  color: #4a699e;
}
.title P {
  font-size: 30px;
  color: #0e0d0e;
  padding-top: 10px;
}
/*--------网页轮播图--.banner--------*/
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  margin: 0 auto;
}
/*--------关于我们--.about_us--------*/
.about_us {
  width: 1200px;
  margin: 92px auto 90px auto;
}
.about_us .content {
  margin: 36px 0 90px 0;
}
.about_us .content .about_left {
  float: left;
}
.about_us .content .about_left p {
  width: 560px;
  margin: 0 15px;
  line-height: 28px;
  text-indent: 2em;
  text-align: justify;
}
.about_us .content .about_left p:first-child {
  margin-top: 34px;
}
.about_us .content .about_left ul {
  margin: 51px 0 0 21px;
}
.about_us .content .about_left ul li {
  float: left;
  width: 48px;
  height: 50px;
  margin: 0 48px;
  background: blue;
}
.about_us .content .about_left ul li.icon1 {
  background: url('../img/sprite.png') 0 0;
}
.about_us .content .about_left ul li.icon2 {
  background: url('../img/sprite.png') 0 -50px;
}
.about_us .content .about_left ul li.icon3 {
  background: url('../img/sprite.png') 0 -98px;
}
.about_us .content .about_left ul li.icon4 {
  background: url('../img/sprite.png') 0 -147px;
}
.about_us .content img {
  float: right;
}
/*--------产品中心--.product_center--------*/
.pro_title {
  margin: 14px 0 32px 0;
}
.product_center {
  width: 100%;
  background: #f2f2f2;
  padding-bottom: 29px;
  border-top: 1px solid #f2f2f2;
}
.product_center .pro_center {
  background: url("../img/product_bg.png") center center no-repeat;
}
.product_center .pro_center ul {
  position: relative;
  top: -10px;
  width: 1200px;
  margin: 0 auto;
}
.product_center .pro_center ul li {
  float: left;
  margin-right: 26px;
  width: 280px;
  height: 570px;
}
.product_center .pro_center ul li:last-child {
  margin-right: 0;
}
.product_center .pro_center ul li img {
  width: 280px;
  height: 301px;
}
.product_center .pro_center ul li div {
  border-top: 1px solid transparent;
  padding: 2px 0 26px 18px;
  background: #d7eef9;
}
.product_center .pro_center ul li div h2 {
  font-size: 18px;
  margin: 24px 0;
}
.product_center .pro_center ul li div p {
  width: 202px;
  font-size: 16px;
  height: 168px;
}
.product_center .pro_center ul li:hover div {
  background: #6684b0;
}
.product_center .pro_center ul li:hover div h2,
.product_center .pro_center ul li:hover div p {
  color: #f7f4f4;
}
/*--------新闻中心--.new_center--------*/
.news_center {
  width: 1200px;
  margin: 95px auto 68px auto;
}
.news_center .news_list {
  margin: 29px 0 56px 0;
}
.news_center .news_list ul li {
  float: left;
  width: 567px;
  height: 131px;
  position: relative;
  border: 6px solid transparent;
  margin: 0 42px 34px 0;
}
.news_center .news_list ul li img {
  position: absolute;
  right: -6px;
  bottom: -6px;
}
.news_center .news_list ul li .news_left {
  float: left;
  margin: 0 23px;
  width: 70px;
  text-align: center;
}
.news_center .news_list ul li .news_left h2 {
  font-size: 64px;
  display: inline-block;
  margin-top: 33px;
  line-height: 70px;
}
.news_center .news_list ul li .news_left div {
  width: 53px;
  margin: 0 auto;
  border: 1px solid #4a699e;
}
.news_center .news_list ul li .news_left h3 {
  font-size: 14px;
}
.news_center .news_list ul li .news_right {
  float: left;
  width: 426px;
  font-size: 14px;
  line-height: 22px;
}
.news_center .news_list ul li .news_right p {
  font-size: 16px;
  margin: 26px 0 24px 0;
}
.news_center .news_list ul li:hover,
.news_center .news_list ul li.current {
  border-color: #75829d;
}
.news_center .news_list ul .li_r {
  margin-right: 0;
}
