/*------产品详情------*/
.banner{
  img{width:100%;}
}
.main {
  width: 1200px;
  margin: 90px auto;
  .sidebar{
    float:left;width:174px;position:relative;
    background:#cad2e1;padding:18px 0 10px;border-radius:10px;behavior:url('PIE/PIE.htc');
    dl{
      width:146px;margin:0 auto;background:#abb6cd;padding-bottom:14px;
      dt{
        width:100%;padding:22px 0 14px;text-align:center;
        background:#90a1c0;margin-bottom:36px;
        h2{
          font:18px/18px '微软雅黑 Regular';color:#1c366d;
        }
        h3{
          font:12px/22px '微软雅黑 Regular';color:#4a699e;
          span{
            margin-left:4px;
          }
        }
      }
      dd{
        width:108px;margin:0 auto 18px;border-bottom:1px solid #e0e4ed;
        position:relative;
        a{
          width:100px;display:block;margin:0 auto;
          font:14px/38px '微软雅黑 Regular';text-align:right;
          border-radius:10px 10px 0 0;font-weight:bold;color:#263f75;
          behavior:url('PIE/PIE.htc');position:relative;
          span{margin-right:10px;}
          i{
            width:8px;height:6px;position:absolute;left:16px;
            top:50%;margin-top:-3px;display:block;
            background:url('../img/sprite.png') 13px -36px;
          }
        }
        &.current,&:hover{
          a{background:#4c699d;color:#d9dee8;}
          i{background:url('../img/sprite.png') 13px -42px;}
        }
      }
    }
    img{
      position:absolute;bottom:-32px;left:4px;width:166px;height:34px;
    }
  }
  .product_detail{
    float:right;width:998px;
    &>h2{
      width:990px;color:#7a7d82;
      font:14px/30px '微软雅黑 Regular';
      padding-right:8px;text-align:right;
      background:#dde1eb;
      a{color:#7a7d82;}
      a:hover,.current{color:#4a699e;}
      margin-bottom:14px;
    }
    .detail{
      margin-top:32px;
      img{float:left;width:444px;height:480px;}
        .text{
          float:left;margin-left:24px;
          width:510px;font:14px/28px '微软雅黑 Regular';
          h1{
            font:26px/36px '微软雅黑 Regular';color:#4f4f5e;margin-left:160px;
          }
          h2{
            font:18px/50px '微软雅黑 Regular';
          }
          h3{
            font:16px/16px '微软雅黑 Regular';margin-bottom:30px;
          }
          ul{
            li{
                i{margin-left:6px;}
            }
          }
        }
      }
    }
  }
