/*------产品详情------*/
.banner img {
  width: 100%;
}
.main {
  width: 1200px;
  margin: 90px auto;
}
.main .sidebar {
  float: left;
  width: 174px;
  position: relative;
  background: #cad2e1;
  padding: 18px 0 10px;
  border-radius: 10px;
  behavior: url('PIE/PIE.htc');
}
.main .sidebar dl {
  width: 146px;
  margin: 0 auto;
  background: #abb6cd;
  padding-bottom: 14px;
}
.main .sidebar dl dt {
  width: 100%;
  padding: 22px 0 14px;
  text-align: center;
  background: #90a1c0;
  margin-bottom: 36px;
}
.main .sidebar dl dt h2 {
  font: 18px/18px '微软雅黑 Regular';
  color: #1c366d;
}
.main .sidebar dl dt h3 {
  font: 12px/22px '微软雅黑 Regular';
  color: #4a699e;
}
.main .sidebar dl dt h3 span {
  margin-left: 4px;
}
.main .sidebar dl dd {
  width: 108px;
  margin: 0 auto 18px;
  border-bottom: 1px solid #e0e4ed;
  position: relative;
}
.main .sidebar dl dd a {
  width: 100px;
  display: block;
  margin: 0 auto;
  font: 14px/38px '微软雅黑 Regular';
  text-align: right;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  color: #263f75;
  behavior: url('PIE/PIE.htc');
  position: relative;
}
.main .sidebar dl dd a span {
  margin-right: 10px;
}
.main .sidebar dl dd a i {
  width: 8px;
  height: 6px;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -3px;
  display: block;
  background: url('../img/sprite.png') 13px -36px;
}
.main .sidebar dl dd.current a,
.main .sidebar dl dd:hover a {
  background: #4c699d;
  color: #d9dee8;
}
.main .sidebar dl dd.current i,
.main .sidebar dl dd:hover i {
  background: url('../img/sprite.png') 13px -42px;
}
.main .sidebar img {
  position: absolute;
  bottom: -32px;
  left: 4px;
  width: 166px;
  height: 34px;
}
.main .product_detail {
  float: right;
  width: 998px;
}
.main .product_detail > h2 {
  width: 990px;
  color: #7a7d82;
  font: 14px/30px '微软雅黑 Regular';
  padding-right: 8px;
  text-align: right;
  background: #dde1eb;
  margin-bottom: 14px;
}
.main .product_detail > h2 a {
  color: #7a7d82;
}
.main .product_detail > h2 a:hover,
.main .product_detail > h2 .current {
  color: #4a699e;
}
.main .product_detail .detail {
  margin-top: 32px;
}
.main .product_detail .detail img {
  float: left;
}
.main .product_detail .detail .text {
  float: left;
  margin-left: 24px;
  width: 510px;
  font: 14px/28px '微软雅黑 Regular';
}
.main .product_detail .detail .text h1 {
  font: 26px/36px '微软雅黑 Regular';
  color: #4f4f5e;
  margin-left: 160px;
}
.main .product_detail .detail .text h2 {
  font: 18px/50px '微软雅黑 Regular';
}
.main .product_detail .detail .text h3 {
  font: 16px/16px '微软雅黑 Regular';
  margin-bottom: 30px;
}
.main .product_detail .detail .text ul li i {
  margin-left: 6px;
}
