/*------产品中心------*/
.banner{
  img{width:100%;}
}
.main {
  width: 1200px;
  margin: 84px auto 92px;
  .sidebar{
    float:left;width:174px;position:relative;
    background:#dce1eb;padding:18px 0 10px;border-radius:10px;behavior:url('PIE/PIE.htc');
    dl{
      width:146px;margin:0 auto;background:#c3ccdc;padding-bottom:14px;
      dt{
        width:100%;padding:22px 0 14px;text-align:center;
        background:#abb8d0;margin-bottom:36px;
        h2{
          font:18px/18px '微软雅黑 Regular';color:#1c366d;
        }
        h3{
          font:12px/22px '微软雅黑 Regular';color:#4a699e;
          span{
            margin-left:8px;
          }
        }
      }
      dd{
        width:108px;margin:0 auto 18px;border-bottom:1px solid #e0e4ed;
        position:relative;
        a{
          width:100px;display:block;margin:0 auto;
          font:14px/38px '微软雅黑 Regular';text-align:right;
          border-radius:10px 10px 0 0;font-weight:bold;color:#263f75;
          behavior:url('PIE/PIE.htc');position:relative;
          span{margin-right:10px;}
          div{
            width:7px;height:6px;position:absolute;left:16px;
            top:50%;margin-top:-3px;
            background:url('../img/sprite.png') 13px -36px;
          }
        }
        &.current,&:hover{
          a{background:#4c699d;color:#d9dee8;}
          div{background:url('../img/sprite.png') 13px -42px;}
        }
      }
    }
    img{
      position:absolute;bottom:-32px;left:4px;width:166px;height:34px;
    }
  }
  .product{
    float:right;width:998px;
    &>h2{
      width:990px;color:#7a7d82;
      font:14px/30px '微软雅黑 Regular';
      padding-right:8px;text-align:right;
      background:#dde1eb;
      a{color:#7a7d82;}
      a:hover,.current{color:#4a699e;}
      margin-bottom:14px;
    }
    ul{
      margin:34px 0 12px;
      li{
        width:300px;margin:0 48px 18px 0;float:left;position: relative;
        a{
          display:block;
          img:first-child{width:300px;height:370px;}
          span,i{
            display: block;text-align: center;position: relative;
          }
          span{font-size:18px;margin:10px 0 6px;}
          i{font-size:14px;margin-bottom:18px;}
          .mask{
            width: 300px;position: absolute;top: 0;display: none;
            z-index: 10;
          }
        }
        &:hover{
          .mask{
            display:block;
          }
          a{
            span,i{
              z-index: 20;color:#fff;
            }
          }
        }
      }
    }
    .paging{
      width:420px;margin:20px auto 0;
      line-height:20px;border-top:1px solid transparent;
      &>a{display:block;margin:0 10px;float:left;}
      ol{
        float:left;
        li{
          float:left;width:20px;line-height:20px;text-align:center;
          margin-left:4px;
          &:hover{
            background:#4a699e;
          }
        }
      }
    }
  }
}

