/*------产品中心------*/
.banner img {
  width: 100%;
}
.main {
  width: 1200px;
  margin: 84px auto 92px auto;
}
.main .menu {
  width: 175px;
  height: 358px;
  position: relative;
  float: left;
}
.main .menu .content {
  position: absolute;
  top: 18px;
  left: 14px;
  background: #c3ccdc;
}
.main .menu .content div {
  width: 146px;
  height: 76px;
  text-align: center;
  border-top: 1px solid #abb8d0;
  background: #abb8d0;
}
.main .menu .content div h2 {
  font-size: 18px;
  color: #1c366d;
  margin-top: 19px;
}
.main .menu .content div h3 {
  font-size: 12px;
  color: #4a699e;
}
.main .menu .content ul {
  margin: 36px auto 0 auto;
}
.main .menu .content ul li {
  width: 90px;
  line-height: 37px;
  position: relative;
  margin: 0 auto 18px auto;
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
  color: #263f75;
}
.main .menu .content ul li div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border-top: none;
  position: absolute;
  left: 12px;
  top: 16px;
  background: #4c699d;
}
.main .menu .content ul li:hover,
.main .menu .content ul li.current {
  background: #4c699d;
  border-radius: 10px 10px 0 0;
}
.main .menu .content ul li:hover a,
.main .menu .content ul li.current a {
  color: #fff;
}
.main .menu .content ul li:hover div,
.main .menu .content ul li.current div {
  background: #fff;
}
.main .menu .content ul li:after,
.main .menu .content ul li:before {
  content: '';
  width: 54px;
  height: 0;
  border-top: 1px solid #e0e4ed;
  position: absolute;
  bottom: -1px;
}
.main .menu .content ul li:after {
  left: 50%;
}
.main .menu .content ul li:before {
  right: 50%;
}
.main .product {
  float: right;
  width: 994px;
}
.main .product > p {
  width: 994px;
  color: #7a7d82;
  font-size: 14px;
  padding-right: 7px;
  text-align: right;
  line-height: 30px;
  background: #dde1eb;
}
.main .product > p a:hover {
  color: #4a699e;
}
.main .product ul {
  margin: 34px 0 12px 0;
}
.main .product ul li {
  width: 300px;
  height: 448px;
  margin: 0 47px 18px 0;
  text-align: center;
  float: left;
  position: relative;
}
.main .product ul li div {
  position: absolute;
  width: 300px;
  height: 448px;
  left: 0;
  top: 0;
}
.main .product ul li div p {
  font-size: 18px;
  margin: 382px 0 5px 0;
}
.main .product ul li div h2 {
  font-size: 14px;
}
.main .product ul li div:hover {
  background: rgba(127, 148, 184, 0.8);
}
.main .product ul li div:hover p,
.main .product ul li div:hover h2 {
  color: #fff;
}
.main .product ul li div:hover p a,
.main .product ul li div:hover h2 a {
  color: #fff;
}
.main .product ul li.pro_right {
  margin-right: 0;
}
.main .product .paging {
  width: 419px;
  margin: 20px auto 0 auto;
  line-height: 20px;
  height: 20px;
  border-top: 1px solid transparent;
}
.main .product .paging > a {
  display: block;
  margin: 0 9px;
  float: left;
}
.main .product .paging ol {
  float: left;
}
.main .product .paging ol li {
  float: left;
  width: 20px;
  line-height: 20px;
  text-align: center;
  margin-left: 4px;
}
.main .product .paging ol li.selected,
.main .product .paging ol li:hover {
  background: #4a699e;
}
